@using System.Globalization
@using Negri.Wot
@using Negri.Wot.Models
@using Negri.Wot.Properties
@model ClanPage

@{
    ViewBag.Title = Model.Clan.ClanTag;
}

@section extraHeaders {
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <meta name="description" content="@string.Format(Resources.ClanMetaDescription, @Model.Clan.ClanTag)">
    <style>
        #acesTable_paginate {
            text-align: left;
        }
    </style>
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Model.Clan.ClanTag</h1>
        @if ((!string.IsNullOrWhiteSpace(Model.Clan.Name)) && (Model.Clan.Name != Model.Clan.ClanTag))
        {
            <h2>@Model.Clan.Name</h2>
        }
        <p>
            @Resources.ClanDetail <a href="http://console.worldoftanks.com/clans/@Model.Clan.ClanTag/">@Model.Clan.ClanTag</a>
            @if (!string.IsNullOrWhiteSpace(Model.Clan.Country))
            {
                <img src="~/Images/Flags/@(Model.Clan.Country).png" alt="@Model.Clan.Country" title="@Model.Clan.Country.ToUpperInvariant()" />
            }
            @Resources.CalculatedAt <span id="last-update-time">@Model.Clan.Moment.ToString("O")</span>.
        </p>
        <p style="margin-top: -15px;">
            @if (Model.Clan.IsOnlyXbox)
            {
                <span>100% @Helpers.PlatformLogo(Platform.XBOX, "platform-logo-clan")</span>
            }
            else if (Model.Clan.IsOnlyPs)
            {
                <span>100% @Helpers.PlatformLogo(Platform.PS, "platform-logo-clan")</span>
            }
            else
            {
        <span>@Model.Clan.CompositionPs.ToString("P0") @Helpers.PlatformLogo(Platform.PS, "platform-logo-clan") - @Model.Clan.CompositionXbox.ToString("P0") @Helpers.PlatformLogo(Platform.XBOX, "platform-logo-clan")</span>
            }
        </p>
    </section>
}

<section id="Resume" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@Resources.Summary</h2>
        <table class="data table-striped" id="resume-table">
            <thead>
                <tr>
                    <th colspan="2" rowspan="2">@Resources.Metric</th>
                    <th rowspan="2">@Resources.Value</th>
                    <th colspan="3" title="@Resources.DeltaExplanation">@Resources.Delta</th>
                </tr>
                <tr>
                    <th title="@Resources.Day">
                        <span>@Resources.DayAbbr</span>
                    </th>
                    <th title="@Resources.Week">
                        <span>@Resources.WeekAbbr</span>
                    </th>
                    <th title="@Resources.Month">
                        <span>@Resources.MonthAbbr</span>
                    </th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                <tr>
                    <td rowspan="9" style="transform: rotate(-90deg); border-bottom: 1px solid black;">@Resources.Recent</td>
                    <td title="@Resources.ActivesExplanation"><a href="#tankers">@Resources.Actives</a></td>
                    <td class="number-integer" title="@string.Format(Resources.PlayersUpdatedEvery, Model.Clan.ActivePlayersDelayHours)">@Model.Clan.Active</td>
                    <td class="number-integer">@(Model.Clan.DeltaDayActive?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekActive?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthActive?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.ActivityExplanation">@Resources.Activity %</td>
                    <td class="number-integer">@(((Model.Clan.ActivePercent) * 100.0).ToString("N0"))</td>
                    <td class="number-integer">@((Model.Clan.DeltaDayActivePercent * 100.0)?.ToString("N0"))</td>
                    <td class="number-integer">@((Model.Clan.DeltaWeekActivePercent * 100.0)?.ToString("N0"))</td>
                    <td class="number-integer">@((Model.Clan.DeltaMonthActivePercent * 100.0)?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td title="@Resources.BattlesExplanation">@Resources.Battles</td>
                    <td class="number-integer">@Model.Clan.ActiveBattles.ToString("N0")</td>
                    <td class="number-integer">@(Model.Clan.DeltaDayActiveBattles?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekActiveBattles?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthActiveBattles?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.WinRateExplanation">@Resources.WinRate %</td>
                    <td class="number">@(((Model.Clan.ActiveWinRate) * 100.0).ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaDayActiveWinRate * 100.0)?.ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaWeekActiveWinRate * 100.0)?.ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaMonthActiveWinRate * 100.0)?.ToString("N1"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.AvgTierExplanation">@Resources.AvgTierTop15</td>
                    <td class="number">@Model.Clan.Top15AvgTier.ToString("N1")</td>
                    <td class="number">@(Model.Clan.DeltaDayTop15AvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaWeekTop15AvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaMonthTop15AvgTier?.ToString("N1"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.AvgTierExplanation">@Resources.AvgTierActives</td>
                    <td class="number">@Model.Clan.ActiveAvgTier.ToString("N1")</td>
                    <td class="number">@(Model.Clan.DeltaDayActiveAvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaWeekActiveAvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaMonthActiveAvgTier?.ToString("N1"))</td>
                </tr>
                <tr>
                    <td class="@Model.Clan.ActiveWn8.ToLabelClass()" style="background-color: @Model.Clan.ActiveWn8.ToWebColor();">
                        <abbr title="@Resources.Wn8aExplanation">WN8a</abbr>
                    </td>
                    <td class="number-integer @Model.Clan.ActiveWn8.ToLabelClass()" style="background-color: @Model.Clan.ActiveWn8.ToWebColor();" title="@Model.Clan.ActiveWn8.ToRatingString()">
                        @Model.Clan.ActiveWn8.ToString("N0")
                    </td>
                    <td class="number-integer">@(Model.Clan.DeltaDayActiveWn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekActiveWn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthActiveWn8?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td class="@Model.Clan.Top15Wn8.ToLabelClass()" style="background-color: @Model.Clan.Top15Wn8.ToWebColor();">
                        <abbr title="@Resources.Wn8t15Explanation">WN8t15</abbr>
                    </td>
                    <td class="number-integer @Model.Clan.Top15Wn8.ToLabelClass()" style="background-color: @Model.Clan.Top15Wn8.ToWebColor();" title="@Model.Clan.Top15Wn8.ToRatingString()">
                        @Model.Clan.Top15Wn8.ToString("N0")
                    </td>
                    <td class="number-integer">@(Model.Clan.DeltaDayTop15Wn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekTop15Wn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthTop15Wn8?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td class="@Model.Clan.Top7Wn8.ToLabelClass()" style="background-color: @Model.Clan.Top7Wn8.ToWebColor();">
                        <abbr title="@Resources.Wn8T7Explanation">WN8t7</abbr>
                    </td>
                    <td class="number-integer @Model.Clan.Top7Wn8.ToLabelClass()" style="background-color: @Model.Clan.Top7Wn8.ToWebColor();" title="@Model.Clan.Top7Wn8.ToRatingString()">
                        @Model.Clan.Top7Wn8.ToString("N0")
                    </td>
                    <td class="number-integer">@(Model.Clan.DeltaDayTop7Wn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekTop7Wn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthTop7Wn8?.ToString("N0"))</td>
                </tr>

                <tr>
                    <td rowspan="5" style="transform: rotate(-90deg);">@Resources.Overall</td>
                    <td title="@Resources.MembersExplanation"><a href="#tankers">@Resources.Members</a></td>
                    <td class="number-integer" title="@string.Format(Resources.PlayersUpdatedEvery, Model.Clan.AllPlayersDelayHours)">@Model.Clan.Count</td>
                    <td class="number-integer">@(Model.Clan.DeltaDayCount?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekCount?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthCount?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td title="@Resources.OverallBattlesExplanation">@Resources.Battles</td>
                    <td class="number-integer">@Model.Clan.TotalBattles.ToString("N0")</td>
                    <td class="number-integer">@(Model.Clan.DeltaDayTotalBattles?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekTotalBattles?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthTotalBattles?.ToString("N0"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.OverallWinRateExplanation">@Resources.WinRate %</td>
                    <td class="number">@(((Model.Clan.TotalWinRate) * 100.0).ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaDayTotalWinRate * 100.0)?.ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaWeekTotalWinRate * 100.0)?.ToString("N1"))</td>
                    <td class="number">@((Model.Clan.DeltaMonthTotalWinRate * 100.0)?.ToString("N1"))</td>
                </tr>
                <tr>
                    <td style="white-space: nowrap;" title="@Resources.AvgTierExplanation">@Resources.AvgTier</td>
                    <td class="number">@Model.Clan.TotalAvgTier.ToString("N1")</td>
                    <td class="number">@(Model.Clan.DeltaDayTotalAvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaWeekTotalAvgTier?.ToString("N1"))</td>
                    <td class="number">@(Model.Clan.DeltaMonthTotalAvgTier?.ToString("N1"))</td>
                </tr>
                <tr>
                    <td class="@Model.Clan.TotalWn8.ToLabelClass()" style="background-color: @Model.Clan.TotalWn8.ToWebColor();">
                        <abbr title="@Resources.OverallWn8Explanation">WN8</abbr>
                    </td>
                    <td class="number-integer @Model.Clan.TotalWn8.ToLabelClass()" style="background-color: @Model.Clan.TotalWn8.ToWebColor();" title="@Model.Clan.TotalWn8.ToRatingString()">
                        @Model.Clan.TotalWn8.ToString("N0")
                    </td>
                    <td class="number-integer">@(Model.Clan.DeltaDayTotalWn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaWeekTotalWn8?.ToString("N0"))</td>
                    <td class="number-integer">@(Model.Clan.DeltaMonthTotalWn8?.ToString("N0"))</td>
                </tr>

            </tbody>

        </table>
    </div>
    <div class="col-md-4"></div>
</section>

@if (Model.Clan.IsPatched)
{
    <section id="suspectedDataCall" class="row" style="padding-top: 1em;">
        <div class="col-md-4"></div>
        <div class="col-md-4 alert alert-info">
            <p>
                <a href="~/About#suspectData">@Resources.SuspectData</a>
            </p>
        </div>
        <div class="col-md-4"></div>
    </section>
}

<section class="row" id="historicGraph">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>@Resources.Evolution</h2>
        <div id="historicContainer" style="width: 100%; height: 400px;" data-axis-title="@Resources.EvolutionAxisTitle" data-band-names="@Resources.Wn8VeryBad;@Resources.Wn8Bad;@Resources.Wn8BelowAverage;@Resources.Wn8Average;@Resources.Wn8AboveAverage;@Resources.Wn8Good;@Resources.Wn8VeryGood;@Resources.Wn8Great;@Resources.Wn8Unicum;@Resources.Wn8SuperUnicum">

        </div>
    </div>
    <div class="col-md-1"></div>
</section>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@Resources.RatingDistribuction</h2>
    </div>
</div>

<section class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <table class="data table-striped" id="RatingDistibuctionTable">
            <thead>
                <tr>
                    <th rowspan="2" title="@Resources.RatingExplanation">@Resources.Rating</th>
                    <th colspan="2" title="@Resources.RatingActiveExplanation"><a id="ratingDistribuctionByPlayer" data-axis-label="@Resources.FrequencyAxisActives" href="#">@Resources.Commanders</a></th>
                    <th colspan="2" title="@Resources.RatingBattleExplanation"><a id="ratingDistribuctionByBattle" data-axis-label="@Resources.FrequencyAxisBattles" href="#">@Resources.Battles</a></th>
                </tr>
                <tr>
                    <th title="@Resources.RatingActiveNumberExplanation">#</th>
                    <th title="@Resources.RatingPercentActiveExplanation">%</th>
                    <th title="@Resources.RatingBattleNumberExplanation">#</th>
                    <th title="@Resources.RatingPercentBattlesExplanation">%</th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @foreach (var point in Model.RatingDistribution)
                {
                    <tr>
                        <td class="@point.Wn8Rating.ToLabelClass()" style="white-space: nowrap;">@point.Wn8Rating.ToRatingString()</td>
                        <td class="@point.Wn8Rating.ToLabelClass() number">@point.Count.ToString()</td>
                        <td class="@point.Wn8Rating.ToLabelClass() number" style="white-space: nowrap;">@point.Percent.ToString("P1")</td>
                        <td class="@point.Wn8Rating.ToLabelClass() number">@point.BattlesCount.ToString("N0")</td>
                        <td class="@point.Wn8Rating.ToLabelClass() number" style="white-space: nowrap;">@point.BattlesPercent.ToString("P1")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div id="ratingDistribuctionContainer" style="width: 100%; height: 220px;"></div>
    </div>
</section>

<div class="clearfix"></div>

<section id="tankers">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 title="@Resources.ActiveCommandersExplanation">@Resources.Commanders</h2>

        <table class="data table-striped" id="membersTable">
            <thead>
                <tr>
                    <th title="@Resources.CommanderRankingExplanation" rowspan="2" class="sort-key">#</th>
                    <th rowspan="2">@Resources.Commander</th>
                    <th colspan="5" style="border-right: 1px solid black;" title="@Resources.OnLastMonth">@Resources.Recent</th>
                    <th colspan="4">@Resources.Overall</th>
                </tr>
                <tr>
                    <th>@Resources.Battles</th>
                    <th title="@Resources.WeightExplanation">@Resources.Weight</th>
                    <th style="white-space: nowrap;">@Resources.WinRate</th>
                    <th style="white-space: nowrap;">@Resources.Tier</th>
                    <th style="border-right: 1px solid black;" class="sort-key">WN8</th>
                    <th>@Resources.Battles</th>
                    <th style="white-space: nowrap;">@Resources.WinRate</th>
                    <th style="white-space: nowrap;">@Resources.Tier</th>
                    <th>WN8</th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @{
                    foreach (var player in Model.Players)
                    {
                        <tr>
                            <td class="number">@player.Item1.ToString()</td>
                            <td style="white-space: nowrap;">
                                <a class="@(player.Item2.IsPatched ? "suspectData" : null)" href="http://console.worldoftanks.com/stats/players/@player.Item2.Id/" title="Statistics on the Wargaming site" rel="nofollow" @GlobalHelper.ExternalTarget>
                                    @Helpers.PlatformSmallLogo(player.Item2.Platform)
                                    <img src="~/Images/Ranks/@((int) player.Item2.Rank).svg" height="12" width="12" alt="@player.Item2.Rank" title="@player.Item2.Rank"/>
                                    @player.Item2.Name
                                </a>
                            </td>
                            <td class="number title-moment" title="@string.Format(Resources.DataRetrievedAtNextAt, player.Item2.Moment, player.Item2.NextMoment)">@player.Item2.MonthBattles.ToString("N0")</td>
                            <td class="number">@((player.Item1 > 15 ? 0.0 : (player.Item2.MonthBattles) / ((double)Model.Clan.Top15Battles)).ToString("P1"))</td>
                            <td class="number">@player.Item2.MonthWinRate.ToString("P1")</td>
                            <td class="number rightPadding" style="padding-right: 0.2em;">@player.Item2.MonthTier.ToString("N1")</td>
                            <td class="number @player.Item2.MonthWn8.ToLabelClass()" style="border-right: 1px solid black; background-color: @player.Item2.MonthWn8.ToWebColor();">
                                <a title="@player.Item2.MonthWn8.ToRatingString()" href="@GlobalHelper.GetPlayerUrl(player.Item2, true)" rel="nofollow" @GlobalHelper.ExternalTarget>@player.Item2.MonthWn8.ToString("N0")</a>
                            </td>
                            <td class="number">@player.Item2.TotalBattles.ToString("N0")</td>
                            <td class="number">@player.Item2.TotalWinRate.ToString("P1")</td>
                            <td class="number rightPadding">@player.Item2.TotalTier.ToString("N1")</td>
                            <td class="number @player.Item2.TotalWn8.ToLabelClass()" style="background-color: @player.Item2.TotalWn8.ToWebColor();">
                                <a title="@player.Item2.TotalWn8.ToRatingString()" href="@GlobalHelper.GetPlayerUrl(player.Item2)" rel="nofollow" @GlobalHelper.ExternalTarget>@player.Item2.TotalWn8.ToString("N0")</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @switch (Model.ShowPlayersMode)
        {
            case ShowPlayersMode.AllActive:
                <a class="btn btn-info btn-xs" href="@Url.Current(new {showPlayersMode = ShowPlayersMode.All})#tankers">@Resources.ShowMore</a>
                break;
            case ShowPlayersMode.All:
                <a class="btn btn-info btn-xs" href="~/Clan/@Model.Clan.ClanTag#tankers">@Resources.ShowLess</a>
                break;
        }

    </div>
    <div class="col-md-1"></div>
</section>



<div class="clearfix"></div>

@if (Model.HasBadPlayersOnTop15)
{
    <div style="padding-top: 1em;" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 alert alert-dismissible alert-info">
            @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pt")
            {
                <div lang="pt">
                    <h4>Relaxe!</h4>
                    <p>
                        Se você está aparecendo com um ranking baixo, numa classificação WN8 abaixo da média, <b>calma</b>!
                        <ol>
                            <li>Isso é <b>apenas um jogo</b>. É suposto que seja <b>divertido</b>, antes de mais nada, jogar.</li>
                            <li>
                                Ninguém começa nesse jogo indo bem. Levam-se realmente <em>milhares de batalhas</em> para
                                aprender os tanques, os mapas, pontos fracos e afins.
                            </li>
                            <li>
                                O ranking é baseado numa média móvel mensal. Se no último mês você está iniciando uma linha nova,
                                aprendendo um estilo de jogo diferente do habitual, é normal que o WN8 diminua.
                            </li>
                            <li>
                                WN8 é apenas uma métrica, dentre dezenas mais ou menos objetivas de medir o desempenho.
                                Mas não é a única, não é perfeita, e não é um diagnóstico completo sobre um jogador de clã, que não pode se resumir a um único número.
                            </li>
                            <li>
                                Tudo na vida se aprende. <strong>Tudo</strong>! Procure mais informações sobre como jogar, há muitos recursos interessantes, tais como
                                os vídeos do <a href="https://www.youtube.com/channel/UCN8m40gaXZoT7ZAyZPji9iA">Dantknd</a>,
                                e da própria <a href="https://www.youtube.com/channel/UCmSQH1HV0exJTN6XhOjSjpg">Wargaming</a>.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "es")
            {
                <div lang="es">
                    <h4>¡Relájate!</h4>
                    <p>
                        Si usted está apareciendo con un ranking bajo, con un número WN8 promedio abajo, <b>tómalo fácil</b>!
                        <ol>
                            <li>
                                Esto es <b>sólo un juego</b>. Se supone, ante todo, ser <b>divertido</b> jugando;
                            </li>
                            <li>
                                Nadie empieza este juego haciéndolo bien. Realmente se necesita <em>muchos miles de batallas</em>
                                para aprender tanques, mapas, tácticas, mecánicas de juego, etc;
                            </li>
                            <li>
                                El ranking se basa en un promedio mensual móvil. Si en el último mes estás empezando una nueva línea de tanques,
                                moler un tanque de stock o aprender un nuevo estilo de juego se espera que el WN8 disminuye;
                            </li>
                            <li>
                                WN8 es sólo una medida, entre docenas de otros, para medir el rendimiento. Pero no es perfecto,
                                y el jugador de un clan no se puede resumir en un solo número;
                            </li>
                            <li>
                                Todo en la vida se puede aprender. <strong>Todo</strong> Buscar más información
                                acerca de <i>cómo jugar WoT</i> en la Web: hay una gran cantidad de recursos.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "fr")
            {
                <div lang="fr">
                    <h4>Détendez-vous !</h4>
                    <p>
                        Si vous apparaissez avec un faible classement, avec un nombre WN8 moyenne soufflet, <b>prenez-le facile</b>!
                        <ol>
                            <li>
                                C'est <b>juste un jeu</b>. C'est censé, d'abord et avant tout, être <b>fun</b> jouer;
                            </li>
                            <li>
                                Personne ne commence ce jeu à bien faire. Il faut vraiment <em> plusieurs milliers de batailles</em>
                                pour apprendre les chars, les cartes, les tactiques, la mécanique de jeu, etc. ;
                            </li>
                            <li>
                                Le classement est basé sur une moyenne mensuelle mobile. Si le mois dernier vous démarrez une nouvelle ligne de réservoir,
                                broyage d'un réservoir de stock ou d'apprendre un nouveau style de jeu, il est prévu que le WN8 diminue;
                            </li>
                            <li>
                                WN8 est juste une mesure, parmi des dizaines d'autres, pour mesurer la performance. Mais ce n'est pas parfait,
                                et le joueur d'un clan ne peut pas être résumé à un seul nombre;
                            </li>
                            <li>
                                Tout dans la vie peut être appris. <strong>Tout! </strong> Rechercher plus d'informations
                                sur <i>comment de jouer WoT</i> sur le Web: il ya beaucoup de ressources.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pl")
            {
                <div lang="pl">
                    <h4>Zrelaksuj się!</h4>
                    <p>
                        Jeśli pojawiają się z niskim rankingu, z numerem WN8 poniżej średniej, <b> wziąć to łatwe </b>!
                        <ol>
                            <li>
                                To jest <b> just pewien gra </b>. To ma przede wszystkim być <b> zabawy </b> grania;
                            </li>
                            <li>
                                Nikt nie rozpoczyna tej gry dobrze. To naprawdę trwa <em> wielu tysięcy bitew </em>
                                nauczyć się czołgów, map, taktyk, mechaniki gry itp.;
                            </li>
                            <li>
                                Ranking opiera się na stopniowej średniej miesięcznej. Jeśli w ostatnim miesiącu zaczynasz nową linię zbiornika,
                                szlifowanie zbiornika lub uczenia się nowego stylu gry oczekuje się, że WN8 maleje;
                            </li>
                            <li>
                                WN8 jest tylko miarą, wśród kilkudziesięciu innych, do pomiaru wydajności. Ale to nie jest idealne,
                                a gracz klanu nie może być podsumowany tylko jedną liczbą;
                            </li>
                            <li>
                                Wszystko w życiu można nauczyć. <strong> wszystko! </strong> Szukaj więcej informacji
                                o <i> jak grać w WoT </i> w sieci: istnieje wiele zasobów.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "de")
            {
                <div lang="de">
                    <h4>Entspannen Sie sich!</h4>
                    <p>
                        Wenn Sie mit einem niedrigen Ranking erscheinen, mit einer WN8-Zahl unten Durchschnitt, <b>nehmen Sie es einfach</b>!
                        <ol>
                            <li>
                                Dies ist <b>nur ein Spiel</b>. Es soll in erster Linie <b>Spaß</b> spielen;
                            </li>
                            <li>
                                Niemand beginnt, dass dieses Spiel gut läuft. Es dauert wirklich <em>viele Tausende von Schlachten</em>
                                um Panzer, Karten, Taktiken, Spielmechaniken usw. zu lernen;
                            </li>
                            <li>
                                Das Ranking basiert auf einem gleitenden Monatsdurchschnitt. Wenn Sie im letzten Monat eine neue Tankleitung
                                Schleifen eines Lagertanks oder Erlernen einer neuen Spielweise wird erwartet, dass der WN8 abnimmt;
                            </li>
                            <li>
                                WN8 ist nur eine Maßnahme, unter Dutzenden von anderen, um die Leistung zu messen. Aber es ist nicht perfekt,
                                und der Spieler eines Clans kann nicht auf nur eine Zahl zusammengefasst werden;
                            </li>
                            <li>
                                Alles im Leben kann man lernen. <strong>Alles!</strong> Weitere Informationen suchen
                                über <i>wie man WoT </i> im Web spielt: Es gibt viele Ressourcen.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru")
            {
                <div lang="ru">
                    <h4>Расслабься!</h4>
                    <p>
                        Если вы появляетесь с низким рейтингом, с номером WN8 в среднем, <b>возьмите его легко</b>!
                        <ol>
                            <li>
                                Это <b> просто игра</b>. Предполагается, в первую очередь, <b>весело</b> играть;
                            </li>
                            <li>
                                Никто не начинает эту игру делать хорошо. Это действительно занимает <em>много тысячи сражений</em>
                                учиться танки, карты, тактика, механика игры и т.д.;
                            </li>
                            <li>
                                Рейтинг основан на скользящей среднемесячной средней. Если в прошлом месяце вы начинаете новую линию танков,
                                шлифовка фондового бака или изучение нового стиля игры ожидается, что WN8 уменьшается;
                            </li>
                            <li>
                                WN8 является лишь мерой, среди десятков других, для измерения производительности. Но это не идеально,
                                и игрок клана не может быть обобщен только одним номером;
                            </li>
                            <li>
                                Все в жизни можно узнать. <strong>Все!</strong> Поиск дополнительной информации
                                о <i> том, как играть woT</i> в Интернете: Есть много ресурсов.
                            </li>
                        </ol>
                    </p>
                </div>
            }
            else
            {
                <div lang="en">
                    <h4>Relax!</h4>
                    <p>
                        If you are appearing with a low ranking, with a WN8 number bellow average, <b>take it easy</b>!
                        <ol>
                            <li>
                                This is <b>just a game</b>. It's supposed, first and foremost, to be <b>fun</b> playing;
                            </li>
                            <li>
                                Nobody starts this game doing well. It really takes <em>many thousands of battles</em>
                                to learn tanks, maps, tactics, game mechanics etc;
                            </li>
                            <li>
                                The ranking is based on a rolling monthly average. If on the last month you are starting a new tank line,
                                grinding a stock tank or learning a new playing style it's expected that the WN8 decreases;
                            </li>
                            <li>
                                WN8 is just a measure, among dozens of others, to measure performance. But it's not perfect,
                                and a clan's player can not be summarized to just one number;
                            </li>
                            <li>
                                Everything in life can be learned. <strong>Everything!</strong> Search more information
                                about <i>how to play WoT</i> on the Web: there are a lot of resources.
                            </li>
                        </ol>
                    </p>
                </div>
            }

        </div>
        <div class="col-md-2"></div>
    </div>
}

@if (Model.HasLeaders)
{
    <section class="row" id="leaders">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            @if (GlobalHelper.Language == "pt")
            {
                <h2 lang="pt">Tanqueiros no <a href="~/Leaderboard/All">Placar de Líderes</a></h2>
                <p lang="pt">Tanqueiros do clã que são top 25 nos tanques, entre todos os jogadores rastreados nesse site, classificados por dano combinado.</p>
            }
            else if (GlobalHelper.Language == "pl")
            {
                <h2 lang="de">Dowódcy na <a href="~/Leaderboard/All">tablicy liderów</a></h2>
                <p lang="de">Dowódcy na klanie, którzy znajdują się w pierwszej 25 każdego czołgu, na wszystkich graczy na tej stronie, w rankingu połączonych uszkodzeń.</p>
            }
            else if (GlobalHelper.Language == "de")
            {
                <h2 lang="de">Kommandanten auf der  <a href="~/Leaderboard/All">Bestenliste</a></h2>
                <p lang="de">Kommandanten auf dem Clan, die in den Top 25 jedes Panzers sind, über alle Spieler auf dieser Seite, geordnet nach kombiniertem Schaden.</p>
            }
            else if (GlobalHelper.Language == "ru")
            {
                <h2 lang="ru">Командиры на <a href="~/Leaderboard/All">доске лидеров</a></h2>
                <p lang="ru">Командиры клана, которые находятся в топ-25 каждого танка, над всеми игроками на этом сайте, ранжируются по комбинированному ущербу.</p>
            }
            else if (GlobalHelper.Language == "es")
            {
                <h2 lang="es">Comandantes en la <a href="~/Leaderboard/All">tabla de posiciones</a></h2>
                <p lang="es">Los comandantes del clan que están en el top 25 de cada tanque, sobre todos los jugadores de este sitio, clasificados por daño combinado.</p>
            }
            else if (GlobalHelper.Language == "fr")
            {
                <h2 lang="fr">Les commandants du <a href="~/Leaderboard/All">Classement</a></h2>
                <p lang="fr">Les commandants du clan qui sont l'un des 25 meilleurs de chaque char, sur tous les joueurs de ce site, classés par des dommages combinés.</p>
            }
            else
            {
                <h2 lang="en">Commanders on the <a href="~/Leaderboard/All">Leaderboard</a></h2>
                <p lang="en">Commanders on the clan that are in the top 25 of each tank, over all players in this site, ranked by combined damage.</p>
            }
            <table class="data table-striped" id="acesTable">
                <thead>
                    <tr>
                        <th colspan="4">@Resources.Tank</th>
                        @*extend*@
                        @*extend*@
                        @*extend*@
                        <th rowspan="2">@Resources.Commander</th>
                        <th rowspan="2">@Resources.Rank</th>
                        <th rowspan="2">
                            <img alt="@Resources.Battles" title="@Resources.Battles" height="18" src="~/Images/battles-fought.png" />
                        </th>
                        <th colspan="3" class="sort-key">@Resources.Damage</th>
                        @*extend*@
                        @*extend*@
                        <th colspan="2">@Resources.Kills</th>
                        @*extend*@
                    </tr>
                    <tr>
                        <th><img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg" /></th>
                        <th><img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png" /></th>
                        <th><span style="white-space: nowrap;" title="@Resources.Tier">V-X</span></th>
                        <th>@Resources.Name</th>
                        @*extend*@
                        @*extend*@
                        @*extend*@
                        <th>@Resources.Direct</th>
                        <th>@Resources.Assisted</th>
                        <th class="sort-key">@Resources.Combined</th>
                        <th>@Resources.Avg</th>
                        <th>@Resources.Max</th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    @foreach (var t in Model.Leaders)
                    {
                        <tr id="tank-id-@t.TankId.ToString()-@t.PlayerId.ToString()">
                            <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png" />
                            </td>
                            <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg" />
                            </td>
                            <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier">@t.Tier.ToRomanNumeral()</td>
                            <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                                <a href="~/Tanks/@t.TankId"><span class="@t.PremiumClass" title="@t.FullName">@t.Name</span></a>
                            </td>
                            <td style="white-space: nowrap;">
                                <a href="@GlobalHelper.GetPlayerUrl(Model.Clan.ClanTag, t.PlayerId)" rel="nofollow" @GlobalHelper.ExternalTarget>
                                    @t.GamerTag
                                </a>
                            </td>
                            <td class="number-integer">@t.Order.ToString("N0")</td>
                            <td class="number-integer">@t.Battles.ToString("N0")</td>
                            <td class="number-integer">@t.DirectDamage.ToString("N0")</td>
                            <td class="number-integer">@t.DamageAssisted.ToString("N0")</td>
                            <td class="number-integer">@t.TotalDamage.ToString("N0")</td>
                            <td class="number">@t.Kills.ToString("N2")</td>
                            <td class="number-integer">@t.MaxKills.ToString("N0")</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (GlobalHelper.Language == "pt")
            {
                <p lang="pt">Veja todos os <a href="~/Tanks/Aces"><b>ases dos tanques</b></a>!</p>
            }
            else if (GlobalHelper.Language == "de")
            {
                <p lang="de">Sehen Sie alle <a href="~/Tanks/Aces"><b>Asse der Panzer</b></a>!</p>
            }
            else if (GlobalHelper.Language == "ru")
            {
                <p lang="ru">Посмотри на все <a href="~/Tanks/Aces"><b>тузы танков</b></a>!</p>
            }
            else if (GlobalHelper.Language == "es")
            {
                <p lang="es">¡Mira todos los <a href="~/Tanks/Aces"><b>ases de los tanques</b></a>!</p>
            }
            else if (GlobalHelper.Language == "pl")
            {
                <p lang="pl">Zobacz wszystkie <a href="~/Tanks/Aces"><b>asy czołgów</b></a>!</p>
            }
            else if (GlobalHelper.Language == "fr")
            {
                <p lang="fr">Voir tous les <a href="~/Tanks/Aces"><b>maîtrise des chars</b></a>!</p>
            }
            else
            {
                <p lang="en">See all the <a href="~/Tanks/Aces"><b>tanks' aces</b></a>!</p>
            }

        </div>
        <div class="col-md-1"></div>
    </section>
}

<section class="row" id="HistoricData">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 title="@Resources.HistoricExplanation">@Resources.Historic</h2>
        <table class="data table-striped" id="historicTable">
            <thead>
                <tr>
                    <th rowspan="2">@Resources.Date</th>
                    <th colspan="7" title="@Resources.OnLastMonth" style="padding-bottom: 4px;">@Resources.Recent</th>
                    <th colspan="4" style="padding-bottom: 4px; border-left: 1px solid black;">@Resources.Overall</th>
                </tr>
                <tr>
                    <th title="@Resources.ActivesExplanation">@Resources.Actives</th>
                    <th title="@Resources.ActivityExplanation">@Resources.Activity</th>
                    <th title="@Resources.BattlesExplanation">@Resources.Battles</th>
                    <th style="white-space: nowrap;" title="@Resources.WinRateExplanation">@Resources.WinRate</th>
                    <th><abbr title="@Resources.Wn8aExplanation">WN8a</abbr></th>
                    <th><abbr title="@Resources.Wn8t15Explanation">WN8t15</abbr></th>
                    <th><abbr title="@Resources.Wn8T7Explanation">WN8t7</abbr></th>
                    <th style="border-left: 1px solid black;" title="@Resources.MembersExplanation">@Resources.Members</th>
                    <th title="@Resources.OverallBattlesExplanation">@Resources.Battles</th>
                    <th style="white-space: nowrap;" title="@Resources.OverallWinRateExplanation">@Resources.WinRate</th>
                    <th><abbr title="@Resources.OverallWn8Explanation">WN8</abbr></th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @foreach (var point in Model.History)
                {
                    <tr>
                        <td style="white-space: nowrap;">
                            @point.Date.ToString("yyyy-MM-dd")
                        </td>
                        <td class="number">@point.Active.ToString("N0")</td>
                        <td class="number">@point.ActivityPercent.ToString("P0")</td>
                        <td class="number title-moment" title="@Resources.UpdatedAt @point.Moment.ToString("O")">@point.ActiveBattles.ToString("N0")</td>
                        <td class="number">@point.ActiveWinRate.ToString("P1")</td>
                        <td class="number @point.ActiveWn8.ToLabelClass()" style="background-color: @point.ActiveWn8.ToWebColor();" title="@point.ActiveWn8.ToRatingString()">
                            @point.ActiveWn8.ToString("N0")
                        </td>
                        <td class="number @point.Top15Wn8.ToLabelClass()" style="background-color: @point.Top15Wn8.ToWebColor();" title="@point.Top15Wn8.ToRatingString()">
                            @point.Top15Wn8.ToString("N0")
                        </td>
                        <td class="number @point.Top7Wn8.ToLabelClass()" style="background-color: @point.Top7Wn8.ToWebColor();" title="@point.Top7Wn8.ToRatingString()">
                            @point.Top7Wn8.ToString("N0")
                        </td>
                        <td class="number" style="border-left: 1px solid black;">
                            @point.Count.ToString("N0")
                        </td>
                        <td class="number">@point.TotalBattles.ToString("N0")</td>
                        <td class="number">@point.TotalWinRate.ToString("P1")</td>
                        <td class="number @point.TotalWn8.ToLabelClass()" style="background-color: @point.TotalWn8.ToWebColor();" title="@point.TotalWn8.ToRatingString()">
                            @point.TotalWn8.ToString("N0")
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-1"></div>
</section>

@section scripts {

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js  "></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
    <script type="text/javascript" src="~/Scripts/hightcharts-dark-unica.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Site/HomeClan.js"></script>


}