@{
    ViewBag.Title = "Home Page";
}
@using Negri.Wot
@using Negri.Wot.Models
@using Negri.Wot.Properties
@model ClansPage
@section extraHeaders {
    <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <meta name="description" content="@string.Format(Resources.MetaDescription, GlobalHelper.ForPlataform)">    
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.MainSiteTitle</h1>
        <h2>@GlobalHelper.ForPlataform</h2>
        <p>
            @string.Format(Resources.Tracking, Model.Players, Model.Count)
            @Resources.UpdatedAt <span id="last-update-time">@Model.Moment.ToString("O")</span>.
        </p>
    </section>
}

@*<section class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 alert alert-info">

            @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pt")
            {
                <p class="text-center">
                    Veja os clãs do <a href="~/Tournament/WCT3">3º Torneio Mundial da Comunidade</a>!
                </p>
            }
            else
            {
                <p class="text-center">
                    Check out the clans on the <a href="~/Tournament/WCT3">3rd World of Tanks Community Tournament</a>!
                </p>
            }
        </div>
        <div class="col-md-4"></div>
    </section>*@

<section class="row">
    <div class="col-md-12">

        <div id="filters" class="row">
            <div class="col-sm-4">
                <a class="btn btn-info btn-xs" title="@Resources.FilterDefaultExplanation" href="@Url.Current(new {countryFilter = "", invertCountryFilter = "", minActiveSize = "", maxActiveSize = "", minWn8T15 = ""})">@Resources.FilterDefault</a>
                <a class="btn btn-info btn-xs" title="@Resources.FilterAllExplanation" href="@Url.Current(new {minActiveSize = "0", maxActiveSize = "", minWn8T15 = 0})">@Resources.FilterAll</a>
                <a class="btn btn-info btn-xs" title="@Resources.FilterBigExplanation" href="@Url.Current(new {minActiveSize = 15, maxActiveSize = ""})">@Resources.FilterBig</a>
                <a class="btn btn-info btn-xs" title="@Resources.FilterSmallExplanation" href="@Url.Current(new {minActiveSize = "0", maxActiveSize = 14})">@Resources.FilterSmall</a>
            </div>
            <div class="col-sm-4">
                @Resources.FilterByCountry:

                @foreach (string country in Model.GetMostCountries())
                {
                    <a title="@Resources.FilterByCountryExplanation @country" href="@Url.Current(new {countryFilter = country, invertCountryFilter = ""})"><img src="~/Images/Flags/@(country.ToLowerInvariant()).png" alt="@country"/></a>
                }
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Resources.Search</span>
                    <input type="text" class="form-control" placeholder="clan" id="searchBox" maxlength="5" style="text-align: center; width: 6em;"/>
                </div>                
            </div>
        </div>
        
        <table class="data table-striped" id="clanTable">
            <thead>
            <tr>
                <th title="@Resources.ClanRankingExplanation" rowspan="2" class="sort-key">#</th>
                <th rowspan="2">@Resources.Clan</th>
                <th colspan="7" title="@Resources.OnLastMonth" style="padding-bottom: 4px;">@Resources.Recent</th>
                <th colspan="4" style="padding-bottom: 4px; border-left: 1px solid black;">@Resources.Overall</th>
            </tr>
            <tr>
                <th title="@Resources.ActivesExplanation">@Resources.Actives</th>
                <th title="@Resources.ActivityExplanation">@Resources.Activity</th>
                <th title="@Resources.BattlesExplanation">@Resources.Battles</th>
                <th title="@Resources.WinRateExplanation" style="white-space: nowrap;">@Resources.WinRate</th>
                <th><abbr title="@Resources.Wn8aExplanation">WN8a</abbr></th>
                <th class="sort-key"><abbr title="@Resources.Wn8t15Explanation">WN8t15</abbr></th>
                <th><abbr title="@Resources.Wn8T7Explanation">WN8t7</abbr></th>
                <th style="border-left: 1px solid black;" title="@Resources.MembersExplanation">@Resources.Members</th>
                <th title="@Resources.OverallBattlesExplanation">@Resources.Battles</th>
                <th title="@Resources.OverallWinRateExplanation" style="white-space: nowrap;">@Resources.WinRate</th>
                <th><abbr title="@Resources.OverallWn8Explanation">WN8</abbr></th>
            </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
            @{
                foreach (Tuple<int, Clan> clan in Model.Clans)
                {
                    <tr>
                        <td class="number">@clan.Item1.ToString()</td>
                        <td style="white-space: nowrap;">
                            <a title="@clan.Item2.Name" href="~/Clan/@clan.Item2.ClanTag" class="@clan.Item2.IsOldDataClass()">@clan.Item2.ClanTag</a>
                            @if (!string.IsNullOrWhiteSpace(clan.Item2.Country))
                            {
                                <img src="~/Images/Flags/@(clan.Item2.Country).png" alt="@clan.Item2.Country" title="@clan.Item2.Country.ToUpperInvariant()"/>
                            }
                        </td>
                        <td class="number">@clan.Item2.Active.ToString("N0")</td>
                        <td class="number">@clan.Item2.ActivePercent.ToString("P0")</td>
                        <td class="number title-moment" title="@Resources.UpdatedAt @clan.Item2.Moment.ToString("O")">
                            @clan.Item2.ActiveBattles.ToString("N0")
                        </td>
                        <td class="number">@clan.Item2.ActiveWinRate.ToString("P1")</td>
                        <td class="number @clan.Item2.ActiveWn8.ToLabelClass()" title="@clan.Item2.ActiveWn8.ToRatingString()" style="background-color: @clan.Item2.ActiveWn8.ToWebColor();">
                            @clan.Item2.ActiveWn8.ToString("N0")
                        </td>
                        <td class="number @clan.Item2.Top15Wn8.ToLabelClass()" title="@clan.Item2.Top15Wn8.ToRatingString()" style="background-color: @clan.Item2.Top15Wn8.ToWebColor();">
                            @clan.Item2.Top15Wn8.ToString("N0")
                        </td>
                        <td class="number @clan.Item2.Top7Wn8.ToLabelClass()" title="@clan.Item2.Top7Wn8.ToRatingString()" style="background-color: @clan.Item2.Top7Wn8.ToWebColor();">
                            @clan.Item2.Top7Wn8.ToString("N0")
                        </td>
                        <td class="number" style="border-left: 1px solid black;">
                            @clan.Item2.Count.ToString("N0")
                        </td>
                        <td class="number">@clan.Item2.TotalBattles.ToString("N0")</td>
                        <td class="number">@clan.Item2.TotalWinRate.ToString("P1")</td>
                        <td class="number @clan.Item2.TotalWn8.ToLabelClass()" title="@clan.Item2.TotalWn8.ToRatingString()" style="background-color: @clan.Item2.TotalWn8.ToWebColor();">
                            @clan.Item2.TotalWn8.ToString("N0")
                        </td>
                    </tr>
                }
            }

            </tbody>
        </table>
        
    </div>
</section>


@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js  "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript">

        // Converte hora UTC para hora local no formato do request
        function convertToLocalTime(utcString) {
            var moment = window.moment.utc(utcString);
            var localOffset = window.moment().utcOffset();
            moment.add(localOffset, "minutes");

            var format = $("body").data("requestDateFormat") + " " + $("body").data("requestTimeFormat");

            // normalização para o formato do moment
            format = format.replace(/d/g, "D").replace(/y/g, "Y").replace("tt", "a").replace("TT", "A");

            var s = moment.format(format);
            return s;
        }

        $(document).ready(function () {

            var decimalSeparator = $("body").data("requestDecimalSeparator");
            var groupingSeparator = $("body").data("requestGroupingSeparator");

            // Função de ordenação numerica do lado do cliente
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "numeric-flex-pre": function (a) {
                    if (a === "") {
                        return 0.0;
                    }
                    if (a === "-") {
                        return 0.0;
                    }

                    if (a.substring(0, 3) === "<a ") {
                        a = a.match(/<a [^>]+>([^<]+)<\/a>/)[1];
                    }
                    
                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");
                    
                    a = a.replace("%", "");
                    a = a.replace(decimalSeparator, ".");

                    return parseFloat(a);
                },

                "numeric-flex-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "numeric-flex-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            // Função de ordenação sem considerar traços nos nomes dos clãs
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "no-dash-string-pre": function (a) {
                    if (a === "") {
                        return "";
                    }

                    if (a.substring(0, 3) === "<a ") {
                        a = a.match(/<a [^>]+>([^<]+)<\/a>/)[1];
                    }
                    
                    a = a.replace("-", "");
                    a = a.replace("-", "");
                    a = a.replace("-", "");
                    a = a.replace("-", "");
                    a = a.replace("-", "");

                    a = a.replace("_", "");
                    a = a.replace("_", "");
                    a = a.replace("_", "");
                    a = a.replace("_", "");
                    a = a.replace("_", "");

                    if (a === "") {
                        return "";
                    }

                    return a;
                },

                "no-dash-string-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "no-dash-string-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });
            
            // Configura a tabela de dados
            var oTable = $("#clanTable").DataTable({
                paging: true,
                lengthChange: false,
                pageLength: 25,
                pagingType: "numbers",
                info: false,
                stateSave: true,
                stateDuration: -1,
                searching: true,
                columnDefs: [
                    { type: "numeric-flex", targets: [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] },
                    { type: "no-dash-string", targets: [1] },
                    { orderable: false, targets: [] },
                    { searchable: false, targets: [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] }
                ],
                order: [[7, "desc"]],
                dom: "lrtip",
                language: {
                    paginate: {
                        previous: "@Resources.Previous",
                        next: "@Resources.Next"
                    }
                }
            });

            $("#searchBox").keyup(function () {
                oTable.searching = true;
                oTable.search($(this).val()).draw();
                oTable.searching = false;
            });

            $(document).ready(function () {
                oTable.searching = false;
            }

            // Troca a hora UTC de atualização para a hora correspondente no cliente
            $("#last-update-time").text(convertToLocalTime($("#last-update-time").text()));

            // Troca a hora UTC nos titulos
            $(".title-moment").each(function (index) {
                var item = $(this);

                var re = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)*Z/g;

                function replacer(match) {
                    return convertToLocalTime(match);
                }

                var currentTitle = item.attr("title");
                var newTitle = currentTitle.replace(re, replacer);
                item.attr("title", newTitle);

            });


        });


    </script>
}
