@{
    ViewBag.Title = "Home Page";
}
@using Negri.Wot
@using Negri.Wot.Models
@using Negri.Wot.Properties
@model ClansPage
@section extraHeaders {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.2/css/scroller.bootstrap.min.css" />
    <meta name="description" content="@string.Format(Resources.MetaDescription, GlobalHelper.ForPlatform)">
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.MainSiteTitle</h1>
        <h2>@GlobalHelper.ForPlatform</h2>
        <p>
            @string.Format(Resources.Tracking, Model.Players, Model.Count)
            @Resources.UpdatedAt <span id="last-update-time">@Model.Moment.ToString("O")</span>.
        </p>
    </section>
}


<section class="row">
    <div class="col-md-12">

        <div id="filters" class="row">
            <div class="col-sm-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" aria-label="Reset" id="resetFilters" title="@Resources.FilterDefaultExplanation">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button id="FilterAll" type="button" class="btn btn-default btn-sm" title="@Resources.FilterAllExplanation">@Resources.FilterAll</button>
                    <button id="FilterBig" type="button" class="btn btn-default btn-sm" title="@Resources.FilterBigExplanation">@Resources.FilterBig</button>
                    <button id="FilterSmall" type="button" class="btn btn-default btn-sm" title="@Resources.FilterSmallExplanation">@Resources.FilterSmall</button>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="btn-group">
                    @foreach (string country in Model.GetMostCountries(2, 16))
                    {
                        <button type="button" class="btn btn-default btn-sm btn-nation" title="@Resources.FilterByCountryExplanation @country" data-nation="@country.ToLowerInvariant()">
                            <img src="~/Images/Flags/@(country.ToLowerInvariant()).png" alt="@country" />
                        </button>
                    }
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Resources.Search</span>
                    <input type="text" class="form-control" placeholder="@Resources.Clan" id="searchBox" maxlength="5" pattern="[A-Za-z]{2,5}" style="text-align: center; width: 6em;" />
                </div>
            </div>
        </div>

        <table class="data table-striped" id="clanTable" data-api-url="@Href("~/Clans/Grid")" data-translation-updated-at="@Resources.UpdatedAt">
            <thead>
                <tr>
                    <th title="@Resources.ClanRankingExplanation" rowspan="2" class="sort-key">#</th>
                    <th rowspan="2">@Resources.Clan</th>
                    <th colspan="7" title="@Resources.OnLastMonth" style="padding-bottom: 4px;">@Resources.Recent</th>
                    <th colspan="4" style="padding-bottom: 4px; border-left: 1px solid black;">@Resources.Overall</th>
                </tr>
                <tr>
                    <th title="The platform composition of the clan" style="white-space: nowrap;">@Helpers.PlatformLogo(Platform.PS, "platform-logo-main") ⬌ @Helpers.PlatformLogo(Platform.XBOX, "platform-logo-main")</th>
                    <th title="@Resources.ActivesExplanation">@Resources.Actives</th>
                    <th title="@Resources.BattlesExplanation">@Resources.Battles</th>
                    <th title="@Resources.WinRateExplanation" style="white-space: nowrap;">@Resources.WinRate</th>
                    <th><abbr title="@Resources.Wn8aExplanation">WN8a</abbr></th>
                    <th class="sort-key"><abbr title="@Resources.Wn8t15Explanation">WN8t15</abbr></th>
                    <th><abbr title="@Resources.Wn8T7Explanation">WN8t7</abbr></th>
                    <th style="border-left: 1px solid black;" title="@Resources.MembersExplanation">@Resources.Members</th>
                    <th title="@Resources.OverallBattlesExplanation">@Resources.Battles</th>
                    <th title="@Resources.OverallWinRateExplanation" style="white-space: nowrap;">@Resources.WinRate</th>
                    <th><abbr title="@Resources.OverallWn8Explanation">WN8</abbr></th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody></tbody>
        </table>

    </div>
</section>


@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.2/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Site/HomeIndex.js"></script>
}
