@using Negri.Wot
@using Negri.Wot.Properties
@model Negri.Wot.Models.PlayerPage

@{
    ViewBag.Title = $"{Model.Player.Name} [{Model.Clan.ClanTag}] - {Resources.Recent}";
}

@section extraHeaders {
    <meta name="description" content="@string.Format(Resources.RecentStatsForPlayer, Model.Player.Name, Model.Clan.ClanTag)">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <style>
        .top-banner {
            background: linear-gradient(to bottom right, @Math.Max(Model.Player.MonthWn8, (double)Wn8Rating.Average).ToWebColor(0.80, -0.50), @Math.Max(Model.Player.MonthWn8, (double)Wn8Rating.Average).ToWebColor(0.45, -0.98), rgba(10, 10, 10, 0.80)), url(@Model.BestMonthTankImageUrl);
            background-position: right center;
            background-size: auto 100%;
            background-repeat: no-repeat;
        }

        #overallTanks_paginate {
            text-align: left;
        }

        #overallTanksWeek_paginate {
            text-align: left;
        }

    </style>
}


@section lead {
    <section class="jumbotron top-banner">
        <h1><a href="@Model.ExternalUrl">@Model.Player.Name</a></h1>
        <h2><a href="~/Clan/@Model.Clan.ClanTag">@Model.Clan.ClanTag</a></h2>
        @Html.Raw(string.Format(Resources.RecentStatsForPlayerMoment, Model.Player.Moment))
    </section>
}

<section class="row" id="main">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>@Resources.Summary</h2>
        <table class="data table-striped" id="resume-table">
            <thead>
                <tr>
                    <th rowspan="2">@Resources.Tier</th>
                    <th colspan="4" style="border-right: darkgrey 1px solid"><a href="~/Clan/@Model.Clan.ClanTag/Commanders/@Model.Player.Id/All">@Resources.Overall</a></th>
                    @*<th></th>*@
                    @*<th></th>*@
                    @*<th></th>*@
                    <th colspan="5" class="sort-key">@Resources.Recent</th>
                    @*<th></th>*@
                    @*<th></th>*@
                    @*<th></th>*@
                    @*<th></th>*@
                </tr>
                <tr>
                    @*<th></th>*@
                    <th class="text-nowrap">@Resources.Battles</th>
                    <th class="text-nowrap">@Resources.WinRate</th>
                    <th class="text-nowrap">@Resources.AvgTier</th>
                    <th style="border-right: darkgrey 1px solid">@Resources.WN8</th>
                    <th>@Resources.Battles</th>
                    <th>@Resources.Hours</th>
                    <th class="text-nowrap">@Resources.WinRate</th>
                    <th class="text-nowrap">@Resources.AvgTier</th>
                    <th>@Resources.WN8</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                @Helpers.PlayerPerformanceRow(Model.Player)
                @Helpers.PlayerPerformanceRow(Model.Player, 10)
                @Helpers.PlayerPerformanceRow(Model.Player, 9, 9)
                @Helpers.PlayerPerformanceRow(Model.Player, 8, 8)
                @Helpers.PlayerPerformanceRow(Model.Player, 8)
                @Helpers.PlayerPerformanceRow(Model.Player, 8, 8, true)
                @Helpers.PlayerPerformanceRow(Model.Player, 5, 7)
                @Helpers.PlayerPerformanceRow(Model.Player, 1, 4)
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</section>

<div class="row">
    <div class="col-md-12">
        <h2>@Resources.Links</h2>
    </div>
</div>
<section class="row" id="links">
    <div class="col-sm-3">
        <ul>
            <li>
                Wargaming
                <ul>
                    <li><a @GlobalHelper.ExternalTarget href="https://console.worldoftanks.com/stats/players/@Model.Player.Id/">@Resources.Commander</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="https://console.worldoftanks.com/clans/@Model.Clan.ClanTag/">@Resources.Clan</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="https://console.worldoftanks.com/news/">@Resources.News</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                WoTStatConsole
                <ul>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WoTStatConsoleOverallUrl">@Resources.Overall</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WotStatConsoleRecentUrl">@Resources.Recent</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WotStatConsoleHistoryUrl">@Resources.History</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                WoTInfo
                <ul>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WoTInfoOverallUrl">@Resources.Overall</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WoTInfoRecentUrl">@Resources.Recent</a></li>
                    <li><a @GlobalHelper.ExternalTarget href="@Model.WoTInfoHistoryUrl">@Resources.History</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
            <li>
                Others
                <ul>
                    <li><a href="http://www.vbaddict.net/tankstatistics/overall">@Resources.Equipment</a></li>
                    <li><a href="https://tanks.gg/list/stats">@Resources.Comparisons</a></li>
                    <li><a href="https://www.reddit.com/r/WorldofTanksConsole/">Reddit</a></li>
                    <li><a href="https://discord.gg/WcJ2BGC">Discord</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

@if (Model.Player.Performance.Month.Any())
{
    <section class="row" id="tanks">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 title="@Resources.LastMonthExplanation">@Resources.LastMonth</h2>
            <p>@string.Format("{0:N0} battes, {1:N0} hours, with a WN8 of {2:N0}.", Model.Player.MonthBattles, Model.Player.MonthTime.TotalHours, Model.Player.MonthWn8)</p>
            @*<h3 style="font-size: medium;">@string.Format("{0:N0} battles, {1:N0} minutes, WN8 {2:N0}", Model.Player.MonthBattles, Model.Player.MonthTime.TotalMinutes, Model.Player.MonthWn8)</h3>*@
            <table class="data table-striped" id="overallTanks">
                <thead>
                <tr>
                    <th colspan="4">@Resources.Tank</th>
                    @*extend*@
                    @*extend*@
                    @*extend*@
                    <th class="sort-key" rowspan="2">@Resources.DaysAgo</th>
                    <th rowspan="2">
                        <img alt="@Resources.Battles" title="@Resources.Battles" height="18" src="~/Images/battles-fought.png"/>
                    </th>
                    <th colspan="3" class="sort-key">@Resources.Damage</th>
                    @*extend*@
                    @*extend*@
                    <th colspan="2">@Resources.Kills</th>
                    @*extend*@
                    <th rowspan="2">@Resources.WN8</th>
                </tr>
                <tr>
                    <th><img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg"/></th>
                    <th><img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png"/></th>
                    <th><span style="white-space: nowrap;" title="@Resources.Tier">V-X</span></th>
                    <th>@Resources.Name</th>
                    @*extend*@
                    @*extend*@
                    @*extend*@
                    <th>@Resources.Direct</th>
                    <th>@Resources.Assisted</th>
                    <th>@Resources.Combined</th>
                    <th>@Resources.Avg</th>
                    <th>@Resources.Max</th>
                    @*extend*@
                </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                @foreach (var t in Model.Player.Performance.Month.Values.OrderByDescending(t => t.LastBattle))
                {
                    <tr id="tank-id-ot-@t.TankId.ToString()-@Model.Player.Id.ToString()">
                        <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                            <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png"/>
                        </td>
                        <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                            <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg"/>
                        </td>
                        <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier">@t.Tier.ToRomanNumeral()</td>
                        <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                            @Helpers.TankLink(t)
                        </td>
                        <td class="number-integer">@t.LastBattleAge.TotalDays.ToString("N0")</td>
                        <td class="number-integer">@t.Battles.ToString("N0")</td>
                        <td class="number-integer">@t.DirectDamagePerBattle.ToString("N0")</td>
                        <td class="number-integer">@t.DamageAssistedPerBattle.ToString("N0")</td>
                        <td class="number-integer">@t.TotalDamagePerBattle.ToString("N0")</td>
                        <td class="number">@t.KillsPerBattle.ToString("N2")</td>
                        <td class="number-integer">@t.MaxFrags.ToString("N0")</td>
                        @Helpers.WN8Td(t.Wn8)
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </section>
}

@if (Model.Player.Performance.Week.Any())
{
    <section class="row" id="tanks">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>@Resources.LastWeek</h2>
            <p>@string.Format("{0:N0} battes, {1:N0} hours, with a WN8 of {2:N0}.", Model.Player.WeekBattles, Model.Player.WeekTime.TotalHours, Model.Player.WeekWn8)</p>
            <table class="data table-striped" id="overallTanksWeek">
                <thead>
                    <tr>
                        <th colspan="4">@Resources.Tank</th>
                        @*extend*@
                        @*extend*@
                        @*extend*@
                        <th class="sort-key" rowspan="2">@Resources.DaysAgo</th>
                        <th rowspan="2">
                            <img alt="@Resources.Battles" title="@Resources.Battles" height="18" src="~/Images/battles-fought.png" />
                        </th>
                        <th colspan="3" class="sort-key">@Resources.Damage</th>
                        @*extend*@
                        @*extend*@
                        <th colspan="2">@Resources.Kills</th>
                        @*extend*@
                        <th rowspan="2">@Resources.WN8</th>
                    </tr>
                    <tr>
                        <th><img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg" /></th>
                        <th><img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png" /></th>
                        <th><span style="white-space: nowrap;" title="@Resources.Tier">V-X</span></th>
                        <th>@Resources.Name</th>
                        @*extend*@
                        @*extend*@
                        @*extend*@
                        <th>@Resources.Direct</th>
                        <th>@Resources.Assisted</th>
                        <th>@Resources.Combined</th>
                        <th>@Resources.Avg</th>
                        <th>@Resources.Max</th>
                        @*extend*@
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody>
                    @foreach (var t in Model.Player.Performance.Week.Values.OrderByDescending(t => t.LastBattle))
                    {
                        <tr id="tank-id-ot-@t.TankId.ToString()-@Model.Player.Id.ToString()">
                            <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png" />
                            </td>
                            <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg" />
                            </td>
                            <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier">@t.Tier.ToRomanNumeral()</td>
                            <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                                @Helpers.TankLink(t)
                            </td>
                            <td class="number-integer">@t.LastBattleAge.TotalDays.ToString("N0")</td>
                            <td class="number-integer">@t.Battles.ToString("N0")</td>
                            <td class="number-integer">@t.DirectDamagePerBattle.ToString("N0")</td>
                            <td class="number-integer">@t.DamageAssistedPerBattle.ToString("N0")</td>
                            <td class="number-integer">@t.TotalDamagePerBattle.ToString("N0")</td>
                            <td class="number">@t.KillsPerBattle.ToString("N2")</td>
                            <td class="number-integer">@t.MaxFrags.ToString("N0")</td>
                            @Helpers.WN8Td(t.Wn8)
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </section>
}

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Site/PlayersRecent.js"></script>
}