@using System.Globalization
@using Negri.Wot
@using Negri.Wot.Properties
<!DOCTYPE html>
<html lang="@GlobalHelper.Language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WoT Clans</title>
    <link href="~/favicon.ico" rel="shortcut icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("extraHeaders", required: false)
</head>
<body data-render-moment="@DateTime.UtcNow.ToString("o")"
      data-request-culture="@CultureInfo.CurrentCulture.Name" data-request-ui-culture="@CultureInfo.CurrentUICulture.Name"
      data-request-ui-language="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName"
      data-request-decimal-separator="@CultureInfo.CurrentCulture.NumberFormat.NumberDecimalSeparator"
      data-request-grouping-separator="@CultureInfo.CurrentCulture.NumberFormat.NumberGroupSeparator"
      data-request-date-format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern"
      data-request-time-format="@CultureInfo.CurrentCulture.DateTimeFormat.ShortTimePattern"
      data-is-mobile="@(GlobalHelper.IsMobile() ? "1" : "0")" data-root-url="@Url.Content("~")">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left: 5px; float: left;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WoT Clans", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Resources.Tournaments <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var tournament in Tournament.ReadAll())
                            {
                                <li><a href="~/Tournament/@tournament.Tag" title="@tournament.Description">@tournament.Name</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink(Resources.AboutTournamentsTextLink, Resources.AboutLink, "Home", null, null, "tournaments", null, null)</li>
                        </ul>
                    </li>*@

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Resources.Tanks<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://www.wotconsole.info/marks/">@Resources.MoE <img src="~/Images/external-link.svg" alt="External Link" /></a>
                            </li>
                            <li>@Html.ActionLink("WN8", "WN8", "Tanks")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Resources.Leaderboard<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="~/Leaderboard/Aces" style="color: gold;">@Resources.Aces</a>
                            </li>
                            <li>
                                <a href="~/Leaderboard/All">@Resources.All</a>
                            </li>
                        </ul>
                    </li>

                    @*@if (GlobalHelper.Platform == Platform.XBOX)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: gold;">
                                    <span class="glyphicon glyphicon-fire"></span> World of Tanks Community League <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Tournament/WCL-3" title="All clans on WCL3">All Clans</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Tournament/WCL-3-Playoffs" title="All on the Playoffs" style="color: gold;">Playoffs</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Tournament/WCL-3-East" title="Clans on the East Server">East</a></li>
                                    <li><a href="~/Tournament/WCL-3-Euro" title="Clans on the Euro Server">Euro</a></li>
                                    <li><a href="~/Tournament/WCL-3-West" title="Clans on the West Server">West</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Tournament/WCL-3-Wait" title="Clans on the Wait List">Wait List</a></li>
                                </ul>
                            </li>
                        }*@

                    <li>
                        @Html.ActionLink(Resources.Donate, "Donate", "Home", new { area = "" }, new { style = "color: gold;", title = Resources.DonateExplain })
                    </li>
                    <li>@Html.ActionLink(Resources.AboutTextLink, "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content"style="padding-left: 5px; padding-right: 5px;">
        @RenderSection("lead", required: false)

        @if (Html.HasWarnings())
        {
            <section id="warningsCall" class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 alert alert-warning">
                    <a href="#globalWarnings" style="text-decoration: none;">@Resources.WarningsCall</a>
                </div>
                <div class="col-md-4"></div>
            </section>
        }

        <section id="donateSection" class="row" style="padding-top: 1em;">
            <div class="col-md-2"></div>
            <div class="col-md-8 alert alert-dismissible alert-info">
                <button class="close" type="button" data-dismiss="alert">x</button>
                @if (GlobalHelper.Language == "pt")
                {
                    <p style="text-align: center;">Me ajude a manter esse site sem propagandas! <a href="~/Donate">Doe!</a> Aceito PIX!</p>
                }
                else
                {
                    <p style="text-align: center;">Help me keep this site ad free! <a href="~/Donate">Donate!</a></p>
                }
            </div>
            <div class="col-md-2"></div>
        </section>

        @RenderBody()

        @if (Html.HasWarnings())
        {
            <section id="globalWarnings" class="row" style="padding-top: 1em;">
                <div class="col-md-2"></div>
                <div class="col-md-8 alert alert-dismissible alert-warning">
                    <button class="close" type="button" data-dismiss="alert">x</button>
                    @Html.GetWarning()
                </div>
                <div class="col-md-2"></div>
            </section>
        }

        <hr />
        <footer>
            <p>
                &copy; 2015-@DateTime.Now.Year - @Resources.WotClansBy <a href="~/About#aboutme">JP Negri</a>.
            </p>
            <p>
                <a href="~/About">@Resources.AboutThisSite</a> |
                <a href="~/About#aboutme">@Resources.AboutMe</a> |
                <a href="~/Donate" title="@Resources.DonateExplain" style="color: gold;">@Resources.Donate</a> |
                <a href="~/About#addClan">@Resources.AddYourClan</a> |
                <a href="https://discord.gg/MTCMq3Q" hreflang="en" title="@Resources.TalkToMeDiscord"><img alt="Discord" src="~/Images/discord.svg" height="32" /></a> |
                <a hreflang="en" href="~/DiscordBot">@Resources.DiscordBot</a> |
                <a hreflang="en" href="https://github.com/negri/wotclans">@Resources.SourceCode</a>
            </p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-73929504-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>
