@using System.Globalization
@using Negri.Wot
@using Negri.Wot.Properties
@using Negri.Wot.Tanks
@model Negri.Wot.Models.TanksMoe
@{
    ViewBag.Title = Resources.MoE;
}

@section extraHeaders {
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <meta name="description" content="@Resources.MoEDescriptions)">
    <style>
        #moeTable_filter {
            text-align: left;
        }

        #moeTable_paginate {
            text-align: left;
        }
    </style>
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.MoE</h1>
        <h2>@Resources.MoESubTitle</h2>
        <p>
            @string.Format(Resources.MoEData, Model.Tanks.Length, Model.Date)
        </p>
    </section>
}

<section id="moe-wotconsole-ru">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning! I no longer calculate MoE estimates!</h4>
        <p class="mb-0">
            The numbers displayed here are now calculated, and kindly provided, by <a href="https://www.wotconsole.ru/marks/" class="alert-link">WoTconsole.ru</a>. Check their site, it's great!
        </p>
        <p class="mb-0">
            They use the same algorithm that I used but with a <b>much larger</b> sample size. This allows for more accurate and stable numbers.
        </p>
        <p class="mb-0">
            In a week (or two) this page will be disabled and an automatic redirect to their site will be issued. The <a href="~/DiscordBot" class="alert-link">Discord Bot</a> is already using their numbers. The API will continue to work, but with WoTconsole.ru numbers.
        </p>
        <p class="mb-0">
            Thanks for staying with me all these years. This was a change for good.
        </p>
    </div>
</section>

<section id="moe" class="row">
    <div class="col-md-12">

        <div id="filters" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" id="searchBox" class="form-control" placeholder="@Resources.SearchByTank">
                    </div>
                    <div class="col-md-4" id="nationButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Usa"><img src="~/Images/Nations/1.png" height="18" alt="@Resources.Usa" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Germany"><img src="~/Images/Nations/7.png" height="18" alt="@Resources.Germany" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Ussr"><img src="~/Images/Nations/3.png" height="18" alt="@Resources.Ussr" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Uk"><img src="~/Images/Nations/5.png" height="18" alt="@Resources.Uk" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="France"><img src="~/Images/Nations/2.png" height="18" alt="@Resources.France" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Japan"><img src="~/Images/Nations/6.png" height="18" alt="@Resources.Japan" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="China"><img src="~/Images/Nations/4.png" height="18" alt="@Resources.China" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Czechoslovakia"><img src="~/Images/Nations/8.png" height="18" alt="@Resources.Czechoslovakia" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Sweden"><img src="~/Images/Nations/9.png" height="18" alt="@Resources.Sweden" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Poland"><img src="~/Images/Nations/10.png" height="18" alt="@Resources.Poland" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Italy"><img src="~/Images/Nations/12.png" height="18" alt="@Resources.Italy" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Mercenaries"><img src="~/Images/Nations/11.png" height="18" alt="@Resources.Mercenaries" /></button>
                        </div>
                    </div>
                    <div class="col-md-2" id="typesButtons">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Light"><img src="~/Images/Types/4.svg" width="18" height="18" alt="@Resources.Light" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Medium"><img src="~/Images/Types/3.svg" width="18" height="18" alt="@Resources.Medium" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Heavy"><img src="~/Images/Types/1.svg" width="18" height="18" alt="@Resources.Heavy" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="TankDestroyer"><img src="~/Images/Types/2.svg" width="18" height="18" alt="@Resources.TankDestroyer" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Artillery"><img src="~/Images/Types/5.svg" width="18" height="18" alt="@Resources.Artillery" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Premium"><img src="~/Images/Types/premium.svg" width="18" height="18" alt="@Resources.Premium" /></button>
                        </div>

                    </div>
                    <div class="col-md-3" id="tiersButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-tier" data-tier="5" aria-label="5">V</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="6" aria-label="6">VI</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="7" aria-label="7">VII</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="8" aria-label="8">VIII</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="9" aria-label="9">IX</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="10" aria-label="10">X</button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-warning" aria-label="Reset" id="resetFilters">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="data table-striped" id="moeTable">
            <thead>
                <tr>
                    <th rowspan="2">
                        <img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg" />
                    </th>
                    <th rowspan="2">
                        <img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png" />
                    </th>
                    <th rowspan="2">
                        <span title="@Resources.Tier">V-X</span>
                    </th>
                    <th rowspan="2">@Resources.Tank</th>



                    <th colspan="3">@Resources.CombinedDamage</th>


                    <th rowspan="2">
                        <img alt="@Resources.Battles" title="@Resources.Battles" height="18" src="~/Images/battles-fought.png" />
                    </th>
                    <th colspan="3">@Resources.Delta %</th>


                </tr>
                <tr>




                    <th>
                        <span class="glyphicon glyphicon-star" aria-hidden="true" title="@Resources.MoE1Mark"></span>
                    </th>
                    <th>
                        <span title="@Resources.MoE2Mark">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </th>
                    <th>
                        <span title="@Resources.MoE3Mark">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </th>

                    <th>
                        @Resources.DayAbbr
                    </th>
                    <th>
                        @Resources.WeekAbbr
                    </th>
                    <th>
                        @Resources.MonthAbbr
                    </th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @{
                    foreach (var t in Model.Tanks)
                    {
                        <tr id="tank-id-@t.TankId.ToString()" class="@t.SuspectDataClass">
                            <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png" />
                            </td>
                            <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg" />
                            </td>
                            <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier">@t.Tier.ToRomanNumeral()</td>
                            <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                                <a href="~/Tanks/@t.TankId"><span class="@t.PremiumClass" title="@t.FullName">@t.Name</span></a>
                            </td>
                            <td class="number-integer">@t.Moe1Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.Moe2Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.Moe3Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.NumberOfBattles.ToString("N0")</td>
                            <td class="number">@(t.Delta1D?.ToString("N1"))</td>
                            <td class="number">@(t.Delta1W?.ToString("N1"))</td>
                            <td class="number">@(t.Delta1M?.ToString("N1"))</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</section>


<section id="moeWarnings" class="row" style="padding-top: 1em;">
    <div class="col-md-2"></div>
    <div class="col-md-8 alert alert-warning">
        <h3 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">@Resources.Warnings</h3>
        <ol>
            @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pt")
            {
                <li>Estes dados são <bold>estimativas</bold>!</li>
                <li>Novamente: Estes dados são <bold>estimativas</bold>! A Wargaming não divulgou o algoritmo exato que eles usam para calcular.</li>
                <li>Dano Combinado é a soma de Dano por Assistência via Rádio, Dano por Assistência ao <i>Trackear</i> e Dano Direto.</li>
                <li>Se uma linha <spam style="color: red;">está em vermelho</spam> então eu tenho poucos dados para o tanque: os números podem estar muito errados.</li>
                <li>Se você não achou um tanque então ele é muito novo e eu ainda não tenho dados suficientes para calcular; ou ele não mais é jogado.</li>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "es")
            {
                <li>Estas son <bold>estimaciones</bold></li>
                <li>Una vez más: ¡Estas son <bold>estimaciones</bold>! Wargaming no reveló el método exacto que utilizan para calcular el dañado combinado de pie.</li>
                <li>Daño combinado es la suma de Daño Asistido (por Radio y por Inmovilización) y Daño Directo..</li>
                <li>Si una línea <spam style="color: red;">está en rojo</spam> entonces tengo muy pocos datos en ese tanque: los números pueden estar muy lejos.</li>
                <li>Si no puedes encontrar un tanque, entonces es bastante nuevo y no tengo suficientes datos sobre él; o ya no se juega.</li>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "fr")
            {
                <li>Ce sont <bold>estimations</bold>!</li>
                <li>Encore une fois: Ce sont <bold>estimations</bold>! Wargaming n'a pas révélé la méthode exacte qu'ils utilisent pour calculer les dégâts combinés permanents.</li>
                <li> Les dommages combinés sont la somme des dommages assistés (par radio et par immobilisation) et des dommages directs.</li>
                <li>Si une ligne <spam style="color: red;">est en rouge</spam> alors j'ai très peu de données sur ce réservoir: les chiffres peuvent être loin.</li>
                <li>Si vous ne trouvez pas de char, c'est assez nouveau et je n'ai pas assez de données dessus; ou il n'est plus joué </li>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "de")
            {
                <li>Das sind <bold>Schätzungen</bold>!</li>
                <li>Wieder: Das sind <bold>Schätzungen</bold>! Wargaming gab nicht die genaue Methode bekannt, mit der sie den stehenden kombinierten Schaden berechnen.</li>
                <li>Kombinierter Schaden ist die Summe des unterstützten Schadens (durch Radio und durch Immobilisierung) und des direkten Schadens.</li>
                <li>Wenn eine Zeile <spam style="color: red;">in Rotistigist</spam> dann habe ich nur sehr wenige Daten auf diesem Tank: Die Zahlen können weit weg sein.</li>
                <li>Wenn du keinen Panzer finden kannst, dann ist er ziemlich neu und ich habe nicht genug Daten darauf; oder er wird nicht mehr gespielt.</li>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pl")
            {
                <li>Są to <bold>szacunki</bold>!</li>
                <li>Again: Są to <bold>szacunki</bold>! Wargaming nie ujawnił dokładnej metody, której używają do obliczenia stojących kombinowanych uszkodzeń.</li>
                <li>Połączone obrażenia to suma obrażeń wspomaganych (przez radio i unieruchomienie) i bezpośrednie obrażenia.</li>
                <li>Jeśli linia <spam style="color: red;">jest na czerwono</spam> to mam bardzo mało danych na temat tego zbiornika: liczby mogą być daleko.</li>
                <li>Jeśli nie możesz znaleźć czołgu, to jest całkiem nowy i nie mam na nim wystarczających danych; lub nie jest już grany.</li>
            }
            else if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ru")
            {
                <li>Это <bold>оценки</bold></li>
                <li>Опять: Это <bold>оценки</bold>! Компания Wargaming не раскрыла точный метод, который они используют для расчета стоящего комбинированного повреждения.</li>
                <li>Комбинированный ущерб - это сумма вспомогательного ущерба (по радио и путем иммобилизации) и прямого ущерба.</li>
                <li>Если линия <spam style="color: red;">в красном</spam> то у меня очень мало данных о том, что танк: цифры могут быть далеко.</li>
                <li>Если вы не можете найти танк, то это довольно новый, и у меня нет достаточно данных о нем; или это не играл больше.</li>
            }
            else
            {
                <li>These are <bold>estimates</bold>!</li>
                <li>Again: These are <bold>estimates</bold>! Wargaming didn't disclosed the exact method they use to compute the standing combined damage.</li>
                <li>Combined Damage is the sum of Assisted Damage (by Radio and by Tracking and by Immobilization) and Direct Damage.</li>
                <li>If a line <spam style="color: red;">is in Red</spam> then I have very few data on that tank: the numbers may be way off.</li>
                <li>If you can't find a tank then it's pretty new and I don't have enough data on it; or it's not played anymore.</li>
            }
        </ol>
    </div>
    <div class="col-md-2"></div>
</section>


@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js  "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var decimalSeparator = $("body").data("requestDecimalSeparator");
            var groupingSeparator = $("body").data("requestGroupingSeparator");

            // Função de ordenção numerica do lado do cliente
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "numeric-flex-pre": function (a) {
                    if (a === "") {
                        return 0.0;
                    }
                    if (a === "-") {
                        return 0.0;
                    }

                    if (a.substring(0, 7) === "<a href") {
                        a = a.match(/<a [^>]+>([^<]+)<\/a>/)[1];
                    }

                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");

                    a = a.replace("%", "");
                    a = a.replace(decimalSeparator, ".");

                    return parseFloat(a);
                },

                "numeric-flex-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "numeric-flex-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            var oTable = $("#moeTable").DataTable({
                paging: true,
                lengthChange: false,
                pageLength: 25,
                pagingType: "numbers",
                info: false,
                searching: true,
                columnDefs: [
                    { type: "numeric-flex", targets: [4, 5, 6, 7, 8, 9, 10] },
                    { orderable: false, targets: [] },
                    { searchable: false, targets: [4, 5, 6, 7, 8, 9, 10] }
                ],
                order: [[2, "desc"]],
                dom: "tp",
                language: {
                    paginate: {
                        previous: "@Resources.Previous",
                        next: "@Resources.Next"
                    },
                    search: "@Resources.MoEFilter"
                }
            });

            // reset
            $("#resetFilters").click(function () {
                $("#searchBox").val("");
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");

                oTable.columns(0).search("");
                oTable.columns(1).search("");
                oTable.columns(2).search("");
                oTable.search("").draw();
            });

            // Caixa de Buscas
            $("#searchBox").keyup(function () {
                oTable.search($(this).val()).draw();
            });

            // Por nação
            $(".btn-nation").click(function () {
                var btn = $(this);
                var nation = btn.data("nation");
                oTable.columns(0).search(nation).draw();
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por tipo
            $(".btn-type").click(function () {
                var btn = $(this);
                var type = btn.data("type");
                oTable.columns(1).search(type).draw();
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por Tier
            $(".btn-tier").click(function () {
                var btn = $(this);
                var type = btn.data("tier");
                oTable.columns(2).search(type).draw();
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });


        });

    </script>


}