@using System.Globalization
@using Negri.Wot
@using Negri.Wot.Properties
@using Negri.Wot.Tanks
@model Negri.Wot.Models.TanksMoe
@{
    ViewBag.Title = Resources.MoE;
}

@section extraHeaders {
    <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <meta name="description" content="@string.Format(Resources.MoEDescriptions, GlobalHelper.PlataformTag.ToUpperInvariant())">    
    <style>
        #moeTable_filter {
            text-align: left;
        }

        #moeTable_paginate {
            text-align: left;
        }
    </style>
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.MoE</h1>
        <h2>@Resources.MoESubTitle</h2>
        <p>
            @string.Format(Resources.MoEData, Model.Tanks.Length, Model.Date)
        </p>
    </section>
}

<section id="moe" class="row">
    <div class="col-md-12">

        <div id="filters" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" id="searchBox" class="form-control" placeholder="Search by Tank">
                    </div>
                    <div class="col-md-4" id="nationButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Usa"><img src="~/Images/Nations/1.png" height="18" alt="USA" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Germany"><img src="~/Images/Nations/7.png" height="18" alt="Germany" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Ussr"><img src="~/Images/Nations/3.png" height="18" alt="USSR" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Uk"><img src="~/Images/Nations/5.png" height="18" alt="UK" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="France"><img src="~/Images/Nations/2.png" height="18" alt="France" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Japan"><img src="~/Images/Nations/6.png" height="18" alt="Japan" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="China"><img src="~/Images/Nations/4.png" height="18" alt="China" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Czechoslovakia"><img src="~/Images/Nations/8.png" height="18" alt="Czechoslovakia" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Sweden"><img src="~/Images/Nations/9.png" height="18" alt="Sweden" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Poland"><img src="~/Images/Nations/10.png" height="18" alt="Poland" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Italy"><img src="~/Images/Nations/12.png" height="18" alt="Italy" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Mercenaries"><img src="~/Images/Nations/11.png" height="18" alt="Mercenaries" /></button>
                        </div>
                    </div>
                    <div class="col-md-2" id="typesButtons">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Light"><img src="~/Images/Types/4.svg" width="18" height="18" alt="Light" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Medium"><img src="~/Images/Types/3.svg" width="18" height="18" alt="Medium" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Heavy"><img src="~/Images/Types/1.svg" width="18" height="18" alt="Heavy" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="TankDestroyer"><img src="~/Images/Types/2.svg" width="18" height="18" alt="Tank Destroyer" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Artillery"><img src="~/Images/Types/5.svg" width="18" height="18" alt="Arty" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Premium"><img src="~/Images/Types/premium.svg" width="18" height="18" alt="Premium" /></button>
                        </div>

                    </div>                    
                    <div class="col-md-3" id="tiersButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-tier" data-tier="5" aria-label="5">V</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="6" aria-label="6">VI</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="7" aria-label="7">VII</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="8" aria-label="8">VIII</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="9" aria-label="9">IX</button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="10" aria-label="10">X</button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-warning" aria-label="Reset" id="resetFilters">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="data table-striped" id="moeTable">
            <thead>
            <tr>
                <th rowspan="2">
                    <img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg"/>
                </th>
                <th rowspan="2">
                    <img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png" />
                </th>
                <th rowspan="2">
                    <span title="@Resources.Tier">V-X</span>
                </th>
                <th rowspan="2">@Resources.Tank</th>
                
                

                <th colspan="3">@Resources.CombinedDamage</th>


                <th rowspan="2">
                    <img alt="@Resources.Battles" title="@Resources.Battles" height="18" src="~/Images/battles-fought.png"/>
                </th>
                <th colspan="3">@Resources.Delta %</th>


            </tr>
                <tr>




                    <th>
                        <span class="glyphicon glyphicon-star" aria-hidden="true" title="@Resources.MoE1Mark"></span>
                    </th>
                    <th>
                        <span title="@Resources.MoE2Mark">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </th>
                    <th>
                        <span title="@Resources.MoE3Mark">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </span>
                    </th>

                    <th>
                        @Resources.DayAbbr
                    </th>
                    <th>
                        @Resources.WeekAbbr
                    </th>
                    <th>
                        @Resources.MonthAbbr
                    </th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @{
                    foreach (var t in Model.Tanks)
                    {
                        <tr id="tank-id-@t.TankId.ToString()" class="@t.SuspectDataClass">
                            <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png" />
                            </td>
                            <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg" />
                            </td>
                            <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier">@t.Tier.ToRomanNumeral()</td>
                            <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                                <a href="~/Tanks/@t.TankId"><span class="@t.PremiumClass" title="@t.FullName" >@t.Name</span></a>
                            </td>                                                        
                            <td class="number-integer">@t.Moe1Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.Moe2Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.Moe3Dmg.ToString("N0")</td>
                            <td class="number-integer">@t.NumberOfBattles.ToString("N0")</td>
                            <td class="number">@(t.Delta1D?.ToString("N1"))</td>
                            <td class="number">@(t.Delta1W?.ToString("N1"))</td>
                            <td class="number">@(t.Delta1M?.ToString("N1"))</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</section>


<section id="moeWarnings" class="row" style="padding-top: 1em;">
    <div class="col-md-2"></div>
    <div class="col-md-8 alert alert-warning">
        <h3 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">@Resources.Warnings</h3>
        <ol>
            @if (CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "pt")
            {
                <li>Estes dados são <bold>estimativas</bold>!</li>
                <li>Novamente: Estes dados são <bold>estimativas</bold>! A Wargaming não divulgou o algoritmo exato que eles usam para calcular.</li>
                <li>Dano Combinado é a soma de Dano por Assistência via Rádio, Dano por Assistência ao <i>Trackear</i> e Dano Direto.</li>
                <li>Se uma linha <spam style="color: red;">está em vermelho</spam> então eu tenho poucos dados para o tanque: os números podem estar muito errados.</li>
                <li>Se você não achou um tanque então ele é muito novo e eu ainda não tenho dados suficientes para calcular; ou ele não mais é jogado.</li>
            }
            else
            {
                <li>These are <bold>estimates</bold>!</li>
                <li>Again: These are <bold>estimates</bold>! Wargaming did'nt disclosed the exact method they use to compute the standing combined damage.</li>
                <li>Combined Damage is the sum of Radio Assisted Damage, Tracking Assisted Damage and Direct Damage.</li>
                <li>If a line <spam style="color: red;">is in Red</spam> then I have very few data on that tank: the numbers may be way off.</li>
                <li>If you can't find a tank then it's pretty new and I don't have enought data on it; or it's not played at all.</li>
            }
        </ol>
    </div>
    <div class="col-md-2"></div>
</section>


@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js  "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var decimalSeparator = $("body").data("requestDecimalSeparator");
            var groupingSeparator = $("body").data("requestGroupingSeparator");

            // Função de ordenção numerica do lado do cliente
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "numeric-flex-pre": function (a) {
                    if (a === "") {
                        return 0.0;
                    }
                    if (a === "-") {
                        return 0.0;
                    }

                    if (a.substring(0, 7) === "<a href") {
                        a = a.match(/<a [^>]+>([^<]+)<\/a>/)[1];
                    }

                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");

                    a = a.replace("%", "");
                    a = a.replace(decimalSeparator, ".");

                    return parseFloat(a);
                },

                "numeric-flex-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "numeric-flex-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            var oTable = $("#moeTable").DataTable({
                paging: true,
                lengthChange: false,
                pageLength: 25,
                pagingType: "numbers",
                info: false,
                searching: true,
                columnDefs: [
                    { type: "numeric-flex", targets: [4, 5, 6, 7, 8, 9, 10] },                    
                    { orderable: false, targets: [] },
                    { searchable: false, targets: [4, 5, 6, 7, 8, 9, 10] }
                ],
                order: [[2, "desc"]],
                dom: "tp",
                language: {
                    paginate: {
                        previous: "@Resources.Previous",
                        next: "@Resources.Next"
                    },
                    search: "@Resources.MoEFilter"
                }
            });

            // reset
            $("#resetFilters").click(function () {
                $("#searchBox").val("");
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");

                oTable.columns(0).search("");
                oTable.columns(1).search("");
                oTable.columns(2).search("");                
                oTable.search("").draw();
            });

            // Caixa de Buscas
            $("#searchBox").keyup(function () {
                oTable.search($(this).val()).draw();
            });

            // Por nação
            $(".btn-nation").click(function () {
                var btn = $(this);
                var nation = btn.data("nation");
                oTable.columns(0).search(nation).draw();
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por tipo
            $(".btn-type").click(function () {
                var btn = $(this);
                var type = btn.data("type");
                oTable.columns(1).search(type).draw();
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por Tier
            $(".btn-tier").click(function () {
                var btn = $(this);
                var type = btn.data("tier");
                oTable.columns(2).search(type).draw();
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });


        });

    </script>


}