@using Negri.Wot
@using Negri.Wot.Properties
@using Negri.Wot.Tanks
@model Negri.Wot.Models.TanksWn8
@{
    ViewBag.Title = Resources.WN8Title;
}

@section extraHeaders {
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css " rel="stylesheet" type="text/css" />
    <meta name="description" content="WN8 Expected Values for WoT Console">
    <style>
        #moeTable_filter {
            text-align: left;
        }

        #moeTable_paginate {
            text-align: left;
        }
    </style>
}

@section lead {
    <section class="jumbotron top-banner">
        <h1>@Resources.WN8Title</h1>
        <h2>@Resources.WN8SubTitle</h2>
        <p>
            @string.Format(Resources.WN8DataInfo, Model.Tanks.Length, Model.Source, Model.Version, Model.Date)
        </p>
    </section>
}

<section id="moe" class="row">
    <div class="col-md-12">

        <div id="filters" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" id="searchBox" class="form-control" placeholder="@Resources.SearchByTank">
                    </div>
                    <div class="col-md-4" id="nationButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Usa"><img src="~/Images/Nations/1.png" height="18" alt="@Resources.Usa" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Germany"><img src="~/Images/Nations/7.png" height="18" alt="@Resources.Germany" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Ussr"><img src="~/Images/Nations/3.png" height="18" alt="@Resources.Ussr" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Uk"><img src="~/Images/Nations/5.png" height="18" alt="@Resources.Uk" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="France"><img src="~/Images/Nations/2.png" height="18" alt="@Resources.France" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Japan"><img src="~/Images/Nations/6.png" height="18" alt="@Resources.Japan" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="China"><img src="~/Images/Nations/4.png" height="18" alt="@Resources.China" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Czechoslovakia"><img src="~/Images/Nations/8.png" height="18" alt="@Resources.Czechoslovakia" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Sweden"><img src="~/Images/Nations/9.png" height="18" alt="@Resources.Sweden" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Poland"><img src="~/Images/Nations/10.png" height="18" alt="@Resources.Poland" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Italy"><img src="~/Images/Nations/12.png" height="18" alt="@Resources.Italy" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-nation" data-nation="Mercenaries"><img src="~/Images/Nations/11.png" height="18" alt="@Resources.Mercenaries" /></button>
                        </div>
                    </div>
                    <div class="col-md-2" id="typesButtons">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Light"><img src="~/Images/Types/4.svg" width="18" height="18" alt="@Resources.Light" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Medium"><img src="~/Images/Types/3.svg" width="18" height="18" alt="@Resources.Medium" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Heavy"><img src="~/Images/Types/1.svg" width="18" height="18" alt="@Resources.Heavy" /></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="TankDestroyer"><img src="~/Images/Types/2.svg" width="18" height="18" alt="@Resources.TankDestroyer" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Artillery"><img src="~/Images/Types/5.svg" width="18" height="18" alt="@Resources.Artillery" /></button>
                            <button type="button" class="btn btn-default btn-sm btn-type" data-type="Premium"><img src="~/Images/Types/premium.svg" width="18" height="18" alt="@Resources.Premium" /></button>
                        </div>

                    </div>
                    <div class="col-md-3" id="tiersButtons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-tier" data-tier="01" aria-label="1"><div style="width: 1.2em;">I</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="02" aria-label="2"><div style="width: 1.2em;">II</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="03" aria-label="3"><div style="width: 1.2em;">III</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="04" aria-label="4"><div style="width: 1.2em;">IV</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="05" aria-label="5"><div style="width: 1.2em;">V</div></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-tier" data-tier="06" aria-label="6"><div style="width: 1.2em;">VI</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="07" aria-label="7"><div style="width: 1.2em;">VII</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="08" aria-label="8"><div style="width: 1.2em;">VIII</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="09" aria-label="9"><div style="width: 1.2em;">IX</div></button>
                            <button type="button" class="btn btn-default btn-tier" data-tier="10" aria-label="10"><div style="width: 1.2em;">X</div></button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-warning" aria-label="Reset" id="resetFilters">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="data table-striped" id="moeTable">
            <thead>
                <tr>
                    <th rowspan="2">
                        <img alt="@Resources.Nation" title="@Resources.Nation" height="18" src="~/Images/Nations/Globe_icon.svg" />
                    </th>
                    <th rowspan="2">
                        <img alt="@Resources.Type" title="@Resources.Type" height="18" src="~/Images/Types/types.png" />
                    </th>
                    <th rowspan="2">
                        <span title="@Resources.Tier">I-X</span>
                    </th>
                    <th rowspan="2">@Resources.Tank</th>
                    <th colspan="5">@Resources.ExpectedValues</th>
                    <th rowspan="2">@Resources.Origin</th>
                </tr>
                <tr>
                    @*<th></th>*@
                    @*<th></th>*@
                    @*<th></th>*@
                    @*<th></th>*@
                    <th>@Resources.Damage</th>
                    <th>@Resources.WinRate</th>
                    <th>@Resources.Kills</th>
                    <th>@Resources.Spoted</th>
                    <th>@Resources.Defense</th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @{
                    foreach (var t in Model.Tanks)
                    {
                        <tr id="tank-id-@t.TankId.ToString()">
                            <td class="text-center" data-sort="@t.Nation" data-filter="@t.Nation">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Nation.ToString())" alt="@Resources.ResourceManager.GetString(t.Nation.ToString())" src="~/Images/Nations/@((int) t.Nation).png" />
                            </td>
                            <td class="text-center" data-sort="@t.Type" data-filter="@t.Type@(t.IsPremium ? " Premium" : " Regular")">
                                <img height="18" title="@Resources.ResourceManager.GetString(t.Type.ToString())" alt="@Resources.ResourceManager.GetString(t.Type.ToString())" src="~/Images/Types/@((int) t.Type).svg" />
                            </td>
                            <td class="text-center" data-sort="@t.Tier" data-filter="@t.Tier.ToString("00"))">@t.Tier.ToRomanNumeral()</td>
                            <td style="white-space: nowrap;" data-sort="@t.Name.RemoveDiacritics().ToLowerInvariant()" data-filter="@t.Name.RemoveDiacritics().ToLowerInvariant() @t.FullName.RemoveDiacritics().ToLowerInvariant()">
                                <a href="~/Tanks/@t.TankId"><span class="@t.PremiumClass" title="@t.FullName">@t.Name</span></a>
                            </td>
                            <td class="number-integer">@t.Damage.ToString("N0")</td>
                            <td class="number">@t.WinRate.ToString("P1")</td>
                            <td class="number">@t.Frag.ToString("N1")</td>
                            <td class="number">@t.Spot.ToString("N1")</td>
                            <td class="number">@(t.Def.ToString("N1"))</td>
                            <td>@Resources.ResourceManager.GetString("Origin" + t.Origin)</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</section>


<section id="wn8Warnings" class="row" style="padding-top: 1em;">
    <div class="col-md-2"></div>
    <div class="col-md-8 alert alert-info">
        <h3 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">@Resources.Information</h3>
        <ol>
            @if (GlobalHelper.Language == "pt")
            {
                <li>Estes são os valores esperados para se calcular o WN8.</li>
                <li>Se você, dentro todas suas batalhas, mantiver <b>os seus</b> valores médios por batalha iguais aos desta tabela, em cada tanque que jogue, seu WN8 será de 1.565.</li>
                <li>A fonte principal é o <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, que computa esses valores diariamente, <b>a partir da comunidade PC</b>. Estes valores levam a um WN8 calculado que é bastante próximo do que você vê no <a href="http://wotinfo.net/">WoTInfo</a> e no <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Aqui <b>Dano</b> é apenas <b>Dano Direto</b>. Este é o principal fator (~60%) no cálculo do WN8. Tente maximizar isso (o dano direto) para aumentar o seu WN8.</li>
                <li>
                    A coluna <b>Origem</b> denota as adaptações que tive de fazer para lidar com tanques que existem no Console mas não no PC:
                    <ul>
                        <li>Fonte: Usei os mesmos valores do PC.</li>
                        <li>Surrogado: Usei os valores de outro tanque, similar. Por exemplo: O <i>Glory IS-5</i> usa os valores do PC <i>IS-5</i> normal. Veja a tabela completa dos <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">tanques surrogados</a>;</li>
                        <li>2 Surrogados: Usei os valores de outros 2 tanques, similares. Por exemplo: O <i>Knight</i> usa valores que são média entre o <i>Cromwell</i> e o <i>Cromwell B.</i></li>
                        <li>Extrapolação: Usando a relação entre os valores para o mesmo tier e tipo de tanque entre os valores XVM e os médios computados por mim eu extrapolo os meus valores para chegar nos valores esperados de WN8 equivalentes.</li>
                        <li>Tier/Tipo: Usando os valores médios do que é esperado para o mesmo tier e tipo de tanque. É o padrão quando um novo tanque é adicionado ao jogo e eu ainda não configurei um mapeamento, ou um mapeamento não é possível e há menos de 1.000 jogadores qualificados no tanque.</li>
                    </ul>
                </li>
                <li>Você pode obter esses valores usando uma <a rel="nofollow" href="~/api/tanks/wn8">API</a>, ou fazendo o download de uma <a rel="nofollow" href="~/Tanks/WN8/Excel">Planilha Excel</a>, e então fazer seus próprios cálculos de WN8.</li>
            }
            else if (GlobalHelper.Language == "es")
            {
                <li>Estos son los valores esperados que se deben utilizar en la computación de WN8</li>
                <li>Si tú, entre todas tus batallas, sigue sosteniéis <b>tus</b> valores medios por batalla iguales a los de esta mesa, por cada tanque que juegues, tu WN8 será de 1.565.</li>
                <li>El origen principal es <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, que compila estos valores diariamente, <b>desde la comunidad PC</b>. Estos valores conducen a un WN8 que están muy cerca de lo que se ve en <a href="http://wotinfo.net/">WoTInfo</a> y <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Aquí <b>Daño</b> es sólo <b>Daño Directo</b>. Este es el principal (60%) factor en el cálculo WN8. Trate de maximizar esto en orden para aumentar sus valores WN8.</li>
                <li>
                    La columna <b>Origen</b> denota las adaptaciones que hice para proporcionar valores para los tanques que no existe en el PC:
                    <ul>
                        <li>Fuente: Utilicé los valores exactos del PC;</li>
                        <li>Suplente: Utilicé los valores de otro tanque similar. Por ejemplo: el <i>Glory IS-5</i> utiliza los valores de PC <i>IS-5</i>. Echa un vistazo a la tabla completa de <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">surrogates table</a>;</li>
                        <li>2 Suplentes: Usé los valores de otros 2, similares, tanques. Por ejemplo: <i>Knight</i> utiliza valores que son el promedio entre el <i>Cromwell</i> y el <i>Cromwell B;</i></li>
                        <li>Extrapolación: Utilizando la relación entre los mismos valores de nivel y clase de XVM y mis valores extrapolé mis valores medios para alcanzar un WN8 esperado. Lo uso para tanques que no tienen un buen equivalente en la plataforma de PC;</li>
                        <li>Nivel/Tipo: Utilizando el promedio de los valores esperados para el mismo nivel y tipo de tanque. Es el valor predeterminado cuando se agrega un nuevo tanque y aún no he configurado un mapeo, o un mapeo no es posible y hay menos de 1.000 jugadores calificados en el tanque.</li>
                    </ul>
                </li>
                <li>Puede tomar estos valores utilizando un <a rel="nofollow" href="~/api/tanks/wn8">API</a>, o descargando un <a rel="nofollow" href="~/Tanks/WN8/Excel">Excel File</a>, y hacer su propio archivo de cálculo WN8.</li>
            }
            else if (GlobalHelper.Language == "fr")
            {
                <li>Ce sont les valeurs attendues qui devraient être utilisées sur le calcul du WN8.</li>
                <li>Si vous, parmi toutes vos batailles, gardez <b>vos</b> valeurs moyennes par bataille les mêmes que celles de cette table, pour chaque char que vous jouez, votre WN8 sera de 1 565.</li>
                <li>La source principale est <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, qui compile quotidiennement ces valeurs, <b>de la communauté PC</b>. Ces valeurs mènent à un WN8 qui sont très proches de ce que vous voyez sur <a href="http://wotinfo.net/">WoTInfo</a> et <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Ici, <b>Damage</b> n'est <b>Dommages Directs</b>. Il s'agit de la principale (60%) facteur sur le calcul WN8. Essayez de maximiser cela sur l'ordre d'augmenter vos valeurs WN8.</li>
                <li>
                    La colonne <b>Origin</b> dénote les adaptations que j'ai faites pour fournir des valeurs pour les réservoirs qui n'existe pas sur le PC:
                    <ul>
                        <li>Source: J'ai utilisé les valeurs exactes du PC;</li>
                        <li>Substitut: J'ai utilisé les valeurs d'un autre, similaire, réservoir. Par exemple : Le <i>Glory IS-5</i> utilise les valeurs du PC <i>IS-5</i>. Découvrez la <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">table complète de substitution</a>;</li>
                        <li>2 Substituts: J'ai utilisé les valeurs de 2 autres, similaires, réservoirs. Par exemple : Le <i>Knight</i> utilise des valeurs qui sont la moyenne entre le <i>Cromwell</i> et le <i>Cromwell B;</i></li>
                        <li>Extrapolation: En utilisant la relation entre les mêmes valeurs de niveau et de classe de XVM et mes valeurs, j'ai extrapolé mes valeurs moyennes pour atteindre un WN8 attendu. Je l'utilise pour des chars qui n'ont pas un bon équivalent sur la plate-forme PC ;</li>
                        <li>Niveau/Type : Utilisation de la moyenne des valeurs attendues pour le même niveau et le même type de réservoir. C'est la valeur par défaut lorsqu'un nouveau char est ajouté et que je n'ai pas encore configuré une cartographie, ou qu'une cartographie n'est pas possible et qu'il y a moins de 1 000 joueurs qualifiés sur le char.</li>
                    </ul>
                </li>
                <li>Vous pouvez saisir ces valeurs à l'aide d'une <a rel="nofollow" href="~/api/tanks/wn8">API</a>, ou télécharger un <a rel="nofollow" href="~/Tanks/WN8/Excel">fichier Excel</a>, et faire votre propre calcul WN8.</li>
            }
            else if (GlobalHelper.Language == "de")
            {
                <li>Dies sind die erwarteten Werte, die für die Berechnung der WN8 verwendet werden sollten.</li>
                <li>Wenn du unter all deinen Kämpfen <b>your</b> Durchschnittswerte pro Gefecht die gleichen werte wie die auf diesem Tisch haltest, wird dein WN8 für jeden Panzer, den du spielst, 1.565 sein.</li>
                <li>Die Hauptquelle ist <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, das diese Werte täglich aus der PC-Community kompiliert. Diese Werte führen zu einem WN8, das sehr nahe an dem liegt, was Sie auf <a href="http://wotinfo.net/">WoTInfo</a> und <a href="https://wotstatsconsole.de/">WoTStatConsole</a> sehen.</li>
                <li>Hier <b>Schaden</b> ist nur <b>Direkter Schaden</b>. Dies ist die wichtigste (ca. 60%) Faktor für die WN8-Berechnung. Versuchen Sie, dies zu maximieren, um Ihre WN8-Werte zu erhöhen.</li>
                <li>
                    Die Spalte <b>Origin</b> bezeichnet Anpassungen, die ich vorgenommen habe, um Werte für Tanks bereitzustellen, die nicht auf dem PC vorhanden sind:
                    <ul>
                        <li>Quelle: Ich habe die genauen Werte vom PC verwendet;</li>
                        <li>Substitution: Ich habe die Werte aus einem anderen, ähnlichen Tank verwendet. Zum Beispiel: Der <i>Glory IS-5</i> verwendet die Werte von PC <i>IS-5</i>. Schauen Sie sich die Tabelle der <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">Substitutionen</a>;</li>
                        <li>2 Substitututionen: Ich habe die Werte von 2 anderen, ähnlichen, Panzern verwendet. Zum Beispiel: Der <i>Knight</i> verwendet Werte, die der Durchschnitt zwischen dem <i>Cromwell</i> und dem <i>Cromwell B</i> sind;</li>
                        <li>Extrapolation: Mit der Beziehung zwischen der gleichen Ebene und Denkklassenwerten aus XVM und meinen Werten habe ich meine Durchschnittswerte extrapoliert, um einen WN8 Expected zu erreichen. Ich benutze es für Tanks, die kein gutes Äquivalent auf der PC-Plattform haben;</li>
                        <li>Stufe/Typ: Verwenden des Durchschnitts der erwarteten Werte für dieselbe Ebene und denselben Tanktyp. Es ist die Standardeinstellung, wenn ein neuer Panzer hinzugefügt wird und ich noch keine Zuordnung konfiguriert habe, oder eine Zuordnung ist nicht möglich und es gibt weniger als 1.000 qualifizierte Spieler auf dem Tank.</li>
                    </ul>
                </li>
                <li>Sie können diese Werte mithilfe einer <a rel="nofollow" href="~/api/tanks/wn8">API</a> oder zum Herunterladen einer <a rel="nofollow" href="~/Tanks/WN8/Excel">Excel-Datei</a> abrufen und Ihre eigene WN8-Berechnung erstellen.</li>
            }
            else if (GlobalHelper.Language == "pl")
            {
                <li>Są to oczekiwane wartości, które powinny być używane przy obliczaniu WN8.</li>
                <li>Jeśli ty, wśród wszystkich bitew, trzymasz <b>twoje</b> średnie wartości na bitwę takie same jak te na tym stole, dla każdego czołgu, w którym grasz, Twój WN8 będzie wynosił 1565.</li>
                <li>Głównym źródłem jest <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, który kompiluje te wartości codziennie, od społeczności PC. Te wartości prowadzi do WN8, które są bardzo zbliżone do tego, co widzisz na <a href="http://wotinfo.net/">WoTInfo</a> i <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Tutaj <b>Damage</b> jest tylko <b>Bezpośrednie uszkodzenie</b>. Jest to główny (~60%) współczynnik akcjonacji WN8. Spróbuj zmaksymalizować to, aby zwiększyć swoje wartości WN8.</li>
                <li>
                    Kolumna <b>Origin</b> oznacza dostosowania, które zrobiłem, aby zapewnić wartości dla zbiorników, które nie istnieją na PC:
                    <ul>
                        <li>Źródło: Użyłem dokładnych wartości z PC;</li>
                        <li>Zastępstwo: Użyłem wartości z innego, podobnego czołgu. Na przykład: <i>Glory IS-5</i> używa wartości komputera <i>IS-5</i>. Zapoznaj się z tabelą <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">substytucji</a>;</li>
                        <li>2 Zastępstwa: Użyłem wartości 2 innych, podobnych czołgów. Na przykład: <i>Rycerz</i> używa wartości, które są średnią między <i>Cromwell</i> i <i>Cromwell B</i>;</li>
                        <li>Ekstrapolacja: Za pomocą relacji między tej samej warstwy i wartości klasy z XVM i moje wartości I ekstrapolowane moje średnie wartości, aby osiągnąć WN8 Oczekiwane. Używam go do zbiorników, które nie mają dobrego odpowiednika na platformie PC ;</li>
                        <li>Poziom/typ: Przy użyciu średniej oczekiwanych wartości dla tego samego poziomu i typu zbiornika. Jest to ustawienie domyślne po dodaniu nowego czołgu i nie skonfigurowano jeszcze mapowania lub mapowanie nie jest możliwe, a na czołgu jest mniej niż 1000 zakwalifikowanych graczy.</li>
                    </ul>
                </li>
                <li>Można pobrać te wartości za pomocą <a rel="nofollow" href="~/api/tanks/wn8">API</a> lub pobrać plik <a rel="nofollow" href="~/Tanks/WN8/Excel">Excel</a> i wykonać własne obliczenia WN8.</li>
            }
            else if (GlobalHelper.Language == "ru")
            {
                <li>Это ожидаемые значения, которые следует использовать при вычислениях WN8.</li>
                <li>Если вы, среди всех ваших сражений, держать <b>ваш</b> средние значения в бою так же, как те, на этом столе, для каждого танка, который вы играете, ваш WN8 будет 1565.</li>
                <li>Основным источником является <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, который компилирует эти значения ежедневно, от сообщества ПК. Эти значения приводят к WN8, которые очень близки к тому, что вы видите на <a href="http://wotinfo.net/">WoTInfo</a> и <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Здесь <b>Damage</b> только <b>Прямое повреждение</b>. Это основной (60%) фактор на вычислениях WN8. Попробуйте максимизировать это на том, чтобы увеличить значения WN8.</li>
                <li>
                    Колонка <b>Origin</b> обозначает адаптацию, которую я сделал, чтобы обеспечить значения для танков, которые не существуют на ПК:
                    <ul>
                        <li>Источник: Я использовал точные значения с ПК;</li>
                        <li>Замена: Я использовал значения из другого, похожего, танка. Например: <i>Слава IS-5</i> использует значения PC <i>IS-5</i>. Ознакомьтесь с таблицей <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">замен</a>;</li>
                        <li>2 Замещения: Я использовал значения 2 других, похожие, танки. Например: <i>Рыцарь</i> использует значения, которые являются средними между <i>Cromwell</i> и <i>Cromwell B</i>;</li>
                        <li>Экстраполяция: Используя связь между тем же значениями уровня и класса от XVM и моими значениями, я экстраполировал мои средние значения, чтобы достичь ожидаемого WN8. Я использую его для танков, которые не имеют хороший эквивалент на платформе ПК;</li>
                        <li>Уровень/тип: Использование среднего ожидаемого значения для одного и того же уровня и типа бака. Это по умолчанию, когда новый танк добавляется, и я еще не настроен отображение, или отображение не представляется возможным и Есть менее 1000 квалифицированных игроков на танке.</li>
                    </ul>
                </li>
                <li>Вы можете захватить эти значения с помощью <a rel="nofollow" href="~/api/tanks/wn8">API</a> или скачать файл <a rel="nofollow" href="~/Tanks/WN8/Excel">Excel</a>, и сделать свой собственный вычисления WN8.</li>
            }
            else
            {
                <li>These are the expected values that should be used on computing the WN8.</li>
                <li>If you, among all your battles, keep <b>your</b> average values per battle the same as the ones on this table, for each tank that you play, your WN8 will be 1,565.</li>
                <li>The main source is <a href="https://modxvm.com/en/wn8-expected-values/">XVM</a>, that compiles these values daily, <b>from the PC</b> community. These values leads to a WN8 that are very close to what you see on <a href="http://wotinfo.net/">WoTInfo</a> and <a href="https://wotstatsconsole.de/">WoTStatConsole</a>.</li>
                <li>Here <b>Damage</b> is only <b>Direct Damage</b>. This is the main (~60%) factor on the WN8 computation. Try to maximize this on order to increase your WN8 values.</li>
                <li>
                    The column <b>Origin</b> denotes adaptations that I made to provide values for tanks that does not exists on the PC:
                    <ul>
                        <li>Source: I used the exact values from the PC;</li>
                        <li>Surrogate: I used the values from another, similar, tank. For instance: The <i>Glory IS-5</i> uses the values of PC <i>IS-5</i>. Check out the complete <a href="https://1drv.ms/x/s!AltYRJ8o7zfvnMt-adGuNKiD_74GNg">surrogates table</a>;</li>
                        <li>2 Surrogates: I used the values of 2 others, similar, tanks. For instance: The <i>Knight</i> uses values that are the average between the <i>Cromwell</i> and the <i>Cromwell B</i>;</li>
                        <li>Extrapolation: Using the relation between the same tier and class values from XVM and my values I extrapolated my average values to reach a WN8 Expected. I use it for tanks that does not have a good equivalent on the PC platform;</li>
                        <li>Tier/Type: Using the average of the expected values for the same tier and tank type. It's the default when a new tank is added and I haven't yet configured a mapping, or a mapping is not possible and there are less than 1,000 qualified players on the tank.</li>
                    </ul>
                </li>
                <li>You can grab these values using an <a rel="nofollow" href="~/api/tanks/wn8">API</a>, or downloading an <a rel="nofollow" href="~/Tanks/WN8/Excel">Excel File</a>, and do your own WN8 computation.</li>
            }
        </ol>
    </div>
    <div class="col-md-2"></div>
</section>


@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js  "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var decimalSeparator = $("body").data("requestDecimalSeparator");
            var groupingSeparator = $("body").data("requestGroupingSeparator");

            // Função de ordenção numerica do lado do cliente
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "numeric-flex-pre": function (a) {
                    if (a === "") {
                        return 0.0;
                    }
                    if (a === "-") {
                        return 0.0;
                    }

                    if (a.substring(0, 7) === "<a href") {
                        a = a.match(/<a [^>]+>([^<]+)<\/a>/)[1];
                    }

                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");
                    a = a.replace(groupingSeparator, "");

                    a = a.replace("%", "");
                    a = a.replace(decimalSeparator, ".");

                    return parseFloat(a);
                },

                "numeric-flex-asc": function (a, b) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "numeric-flex-desc": function (a, b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            var oTable = $("#moeTable").DataTable({
                paging: true,
                lengthChange: false,
                pageLength: 25,
                pagingType: "numbers",
                info: false,
                searching: true,
                columnDefs: [
                    { type: "numeric-flex", targets: [4, 5, 6, 7, 8] },
                    { orderable: false, targets: [] },
                    { searchable: false, targets: [4, 5, 6, 7, 8] }
                ],
                order: [[2, "desc"]],
                dom: "tp",
                language: {
                    paginate: {
                        previous: "@Resources.Previous",
                        next: "@Resources.Next"
                    },
                    search: "@Resources.MoEFilter"
                }
            });

            // reset
            $("#resetFilters").click(function () {
                $("#searchBox").val("");
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");

                oTable.columns(0).search("");
                oTable.columns(1).search("");
                oTable.columns(2).search("");
                oTable.search("").draw();
            });

            // Caixa de Buscas
            $("#searchBox").keyup(function () {
                oTable.search($(this).val()).draw();
            });

            // Por nação
            $(".btn-nation").click(function () {
                var btn = $(this);
                var nation = btn.data("nation");
                oTable.columns(0).search(nation).draw();
                $("#nationButtons .btn-nation").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por tipo
            $(".btn-type").click(function () {
                var btn = $(this);
                var type = btn.data("type");
                oTable.columns(1).search(type).draw();
                $("#typesButtons .btn-type").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });

            // Por Tier
            $(".btn-tier").click(function () {
                var btn = $(this);
                var type = btn.data("tier");
                oTable.columns(2).search(type).draw();
                $("#tiersButtons .btn-tier").removeClass("filter-button-selected");
                btn.addClass("filter-button-selected");
            });


        });

    </script>


}